In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc

rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

pd.options.display.max_columns = None  # 길어서 생략된 열 다 보이게 하기

In [2]:
events = pd.read_csv('/Users/hj/Documents/Four-A/khj/data/events.csv')
events

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,2198523,NaN,3,83889ed2-2adc-4b9a-af5d-154f6998e778,2021-06-17 17:30:00+00:00,138.143.9.202,São Paulo,São Paulo,02675-031,Chrome,Adwords,/cancel,cancel
1,1773216,NaN,3,7a3fc3f2-e84f-44fe-8876-eff76741f7a3,2020-08-07 08:41:00+00:00,85.114.141.79,Santa Isabel,São Paulo,07500-000,Safari,Adwords,/cancel,cancel
2,2380515,NaN,3,13d9b2fb-eee1-43fd-965c-267b38dd7125,2021-02-15 18:48:00+00:00,169.250.255.132,Mairiporã,São Paulo,07600-000,IE,Adwords,/cancel,cancel
3,2250597,NaN,3,96f1d44e-9621-463c-954c-d8deb7fffe7f,2022-03-30 10:56:00+00:00,137.25.222.160,Cajamar,São Paulo,07750-000,Chrome,Adwords,/cancel,cancel
4,1834446,NaN,3,d09dce10-a7cb-47d3-a9af-44975566fa03,2019-09-05 01:18:00+00:00,161.114.4.174,São Paulo,São Paulo,09581-680,Chrome,Email,/cancel,cancel
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2431958,822590,62906.0,5,12ae51e7-76b3-4560-9335-3ea762eae60e,2022-04-07 01:55:02+00:00,52.92.60.25,St Helens,England,WA9,Firefox,Adwords,/purchase,purchase
2431959,43178,3333.0,5,e472549e-273e-402e-ae5f-38ece25699c2,2023-09-26 10:25:28+00:00,97.78.106.249,Orrell,England,WN5,IE,Email,/purchase,purchase
2431960,553230,42386.0,10,6a7ba027-2af2-46a3-ae05-294a264840cf,2023-07-31 15:11:10+00:00,147.252.137.75,Orrell,England,WN5,Chrome,Facebook,/purchase,purchase
2431961,1015190,77546.0,5,29e5960c-214b-456e-8c38-fe6eb8ff1ec8,2024-01-02 14:26:38+00:00,112.209.120.82,Wolverhampton,England,WV6,Chrome,Adwords,/purchase,purchase
2431962,844526,64551.0,13,9f633088-d2a8-4db2-8a5e-ebd946abce26,2022-09-15 09:55:32+00:00,190.227.140.196,York,England,YO10,Firefox,Email,/purchase,purchase

In [3]:
inventory_items = pd.read_csv('/Users/hj/Documents/Four-A/khj/data/inventory_items.csv')
inventory_items

,id,product_id,created_at,sold_at,cost,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id
0,67971,13844,2022-07-02 07:09:20+00:00,2022-07-24 06:33:20+00:00,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7
1,67972,13844,2023-12-20 03:28:00+00:00,NaN,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7
2,67973,13844,2023-06-04 02:53:00+00:00,NaN,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7
3,72863,13844,2021-10-16 22:58:52+00:00,2021-11-22 02:19:52+00:00,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7
4,72864,13844,2021-08-07 16:33:00+00:00,NaN,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7
...,...,...,...,...,...,...,...,...,...,...,...,...
490700,311018,25590,2021-12-07 12:47:00+00:00,NaN,10.39200,Underwear,ck one Men's Micro Slim Fit Boxer,Calvin Klein,24.00,Men,F220707C3AFE39D1779E0A34AF72BB7F,3
490701,451084,25590,2023-10-10 11:57:57+00:00,2023-11-27 11:28:57+00:00,10.39200,Underwear,ck one Men's Micro Slim Fit Boxer,Calvin Klein,24.00,Men,F220707C3AFE39D1779E0A34AF72BB7F,3
490702,451085,25590,2020-11-20 05:55:00+00:00,NaN,10.39200,Underwear,ck one Men's Micro Slim Fit Boxer,Calvin Klein,24.00,Men,F220707C3AFE39D1779E0A34AF72BB7F,3
490703,486057,25590,2023-02-26 22:35:12+00:00,2023-04-23 01:24:12+00:00,10.39200,Underwear,ck one Men's Micro Slim Fit Boxer,Calvin Klein,24.00,Men,F220707C3AFE39D1779E0A34AF72BB7F,3
490704,486058,25590,2022-09-12 13:52:00+00:00,NaN,10.39200,Underwear,ck one Men's Micro Slim Fit Boxer,Calvin Klein,24.00,Men,F220707C3AFE39D1779E0A34AF72BB7F,3

In [4]:
order_items = pd.read_csv('/Users/hj/Documents/Four-A/khj/data/order_items.csv')
order_items

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,0.02
1,40993,28204,22551,14235,110590,Complete,2023-03-14 03:47:21+00:00,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,NaN,0.02
2,51224,35223,28215,14235,138236,Complete,2023-12-05 13:25:30+00:00,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,NaN,0.02
3,36717,25278,20165,14235,99072,Shipped,2023-12-22 20:48:19+00:00,2023-12-24 16:44:00+00:00,NaN,NaN,0.02
4,131061,90241,71954,14235,353798,Shipped,2022-06-19 16:57:59+00:00,2022-06-19 19:29:00+00:00,NaN,NaN,0.02
...,...,...,...,...,...,...,...,...,...,...,...
181754,9674,6679,5325,24447,26095,Returned,2020-12-23 00:05:01+00:00,2020-12-25 22:54:00+00:00,2020-12-28 07:08:00+00:00,2020-12-30 22:43:00+00:00,999.00
181755,7801,5416,4283,24447,21078,Shipped,2022-01-12 23:51:07+00:00,2022-01-10 03:42:00+00:00,NaN,NaN,999.00
181756,62986,43364,34691,23546,169937,Shipped,2023-02-26 00:38:43+00:00,2023-02-25 06:53:00+00:00,NaN,NaN,999.00
181757,106577,73418,58623,24447,287560,Shipped,2023-11-12 02:41:02+00:00,2023-11-14 20:44:00+00:00,NaN,NaN,999.00
181758,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,999.00

In [5]:
orders = pd.read_csv('/Users/hj/Documents/Four-A/khj/data/orders.csv')
orders

,order_id,user_id,status,gender,created_at,returned_at,shipped_at,delivered_at,num_of_item
0,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3
1,60,44,Cancelled,F,2023-01-20 02:12:00+00:00,NaN,NaN,NaN,1
2,64,46,Cancelled,F,2021-12-06 09:11:00+00:00,NaN,NaN,NaN,1
3,89,65,Cancelled,F,2020-08-13 09:58:00+00:00,NaN,NaN,NaN,1
4,102,76,Cancelled,F,2023-01-17 08:17:00+00:00,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...
125221,125196,99972,Shipped,M,2022-06-25 11:56:00+00:00,NaN,2022-06-28 08:24:00+00:00,NaN,1
125222,125199,99975,Shipped,M,2022-07-20 02:19:00+00:00,NaN,2022-07-22 11:08:00+00:00,NaN,4
125223,125208,99983,Shipped,M,2022-03-14 15:06:00+00:00,NaN,2022-03-17 05:15:00+00:00,NaN,1
125224,125210,99983,Shipped,M,2023-03-01 15:06:00+00:00,NaN,2023-03-02 10:50:00+00:00,NaN,2
125225,125224,99999,Shipped,M,2023-12-22 11:29:00+00:00,NaN,2023-12-24 00:44:00+00:00,NaN,2

In [6]:
products = pd.read_csv('/Users/hj/Documents/Four-A/khj/data/products.csv')
products

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,13842,2.51875,Accessories,Low Profile Dyed Cotton Twill Cap - Navy W39S55D,MG,6.25,Women,EBD58B8A3F1D72F4206201DA62FB1204,1
1,13928,2.33835,Accessories,Low Profile Dyed Cotton Twill Cap - Putty W39S55D,MG,5.95,Women,2EAC42424D12436BDD6A5B8A88480CC3,1
2,14115,4.87956,Accessories,Enzyme Regular Solid Army Caps-Black W35S45D,MG,10.99,Women,EE364229B2791D1EF9355708EFF0BA34,1
3,14157,4.64877,Accessories,Enzyme Regular Solid Army Caps-Olive W35S45D (...,MG,10.99,Women,00BD13095D06C20B11A2993CA419D16B,1
4,14273,6.50793,Accessories,Washed Canvas Ivy Cap - Black W11S64C,MG,15.99,Women,F531DC20FDE20B7ADF3A73F52B71D0AF,1
...,...,...,...,...,...,...,...,...,...
29115,5676,12.42338,Pants & Capris,WHAT GOES AROUND COMES AROUND Women's Colette ...,What Goes Around Comes Around,24.17,Women,3A01FC0853EBEBA94FDE4D1CC6FB842A,10
29116,6538,13.67500,Shorts,WHAT GOES AROUND COMES AROUND Women's Mimi Shorts,What Goes Around Comes Around,25.00,Women,741A0099C9AC04C7BFC822CAF7C7459F,10
29117,6712,12.40000,Shorts,WHAT GOES AROUND COMES AROUND Women's Fifi Short,What Goes Around Comes Around,25.00,Women,5726DAF2C9EE0F955ECA58291C26D2F3,10
29118,6821,13.47500,Shorts,WHAT GOES AROUND COMES AROUND Women's Ferguson...,What Goes Around Comes Around,25.00,Women,BA0A4D6ECEA3E9E126DD3B6D77291C97,10
29119,7809,101.84100,Blazers & Jackets,WHAT GOES AROUND COMES AROUND Women's Bennet J...,What Goes Around Comes Around,249.00,Women,67C08C98984CC2BC4B9D1F0D2FE6726A,10

In [7]:
users = pd.read_csv('/Users/hj/Documents/Four-A/khj/data/users.csv')
users

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at
0,457,Timothy,Bush,timothybush@example.net,65,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2022-07-19 13:51:00+00:00
1,6578,Elizabeth,Martinez,elizabethmartinez@example.com,34,F,Acre,1705 Nielsen Land,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2023-11-08 18:49:00+00:00
2,36280,Christopher,Mendoza,christophermendoza@example.net,13,M,Acre,125 Turner Isle Apt. 264,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Email,2019-08-24 06:10:00+00:00
3,60193,Jimmy,Conner,jimmyconner@example.com,64,M,Acre,0966 Jose Branch Apt. 008,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2020-02-15 11:26:00+00:00
4,64231,Natasha,Wilson,natashawilson@example.net,25,F,Acre,20798 Phillip Trail Apt. 392,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2020-03-13 06:45:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,93247,Crystal,Williams,crystalwilliams@example.com,36,F,Île-de-France,984 Brady Branch,77120,Beautheil-Saints,France,48.789740,3.095796,Search,2021-02-13 01:36:00+00:00
99996,59110,Daniel,Griffin,danielgriffin@example.org,12,M,Île-de-France,89560 Phillips Lakes Apt. 604,77160,Chenoise-Cucharmoy,France,48.589783,3.243343,Organic,2022-09-01 12:01:00+00:00
99997,57045,Olivia,Wiley,oliviawiley@example.org,53,F,Île-de-France,749 Ronald Forge,77320,Choisy-en-Brie,France,48.763993,3.319993,Search,2021-06-19 11:39:00+00:00
99998,73312,Emily,Bird,emilybird@example.org,16,F,Île-de-France,78117 Anderson Oval,77320,Choisy-en-Brie,France,48.763993,3.319993,Search,2023-08-08 16:24:00+00:00
99999,77764,Deborah,Andrews,deborahandrews@example.com,67,F,Île-de-France,922 Jeffrey Station,77320,Choisy-en-Brie,France,48.763993,3.319993,Search,2023-02-01 05:57:00+00:00

In [8]:
orders_orderitems = pd.merge(order_items, orders,
                             left_on = ['order_id', 'user_id'],
                             right_on = ['order_id', 'user_id'],
                             how ='left',
                             suffixes=('_item', '_order'))
orders_orderitems.head(20)

,id,order_id,user_id,product_id,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,sale_price,status_order,gender,created_at_order,returned_at_order,shipped_at_order,delivered_at_order,num_of_item
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,0.02,Cancelled,F,2023-05-07 07:33:00+00:00,NaN,NaN,NaN,1
1,40993,28204,22551,14235,110590,Complete,2023-03-14 03:47:21+00:00,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,NaN,0.02,Complete,F,2023-03-14 03:59:00+00:00,NaN,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,1
2,51224,35223,28215,14235,138236,Complete,2023-12-05 13:25:30+00:00,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,NaN,0.02,Complete,F,2023-12-03 13:23:00+00:00,NaN,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,4
3,36717,25278,20165,14235,99072,Shipped,2023-12-22 20:48:19+00:00,2023-12-24 16:44:00+00:00,NaN,NaN,0.02,Shipped,F,2023-12-23 00:17:00+00:00,NaN,2023-12-24 16:44:00+00:00,NaN,4
4,131061,90241,71954,14235,353798,Shipped,2022-06-19 16:57:59+00:00,2022-06-19 19:29:00+00:00,NaN,NaN,0.02,Shipped,F,2022-06-17 17:21:00+00:00,NaN,2022-06-19 19:29:00+00:00,NaN,3
5,154022,106052,84693,14235,415780,Shipped,2023-09-19 09:13:08+00:00,2023-09-16 09:24:00+00:00,NaN,NaN,0.02,Shipped,F,2023-09-15 12:39:00+00:00,NaN,2023-09-16 09:24:00+00:00,NaN,2
6,67253,46269,37023,14159,181497,Complete,2021-10-31 01:26:46+00:00,2021-11-01 17:47:00+00:00,2021-11-02 13:29:00+00:00,NaN,0.49,Complete,F,2021-10-31 04:05:00+00:00,NaN,2021-11-01 17:47:00+00:00,2021-11-02 13:29:00+00:00,1
7,116116,80002,63821,14159,313368,Complete,2022-04-01 13:25:52+00:00,2022-03-31 05:13:00+00:00,2022-04-02 22:18:00+00:00,NaN,0.49,Complete,F,2022-03-29 16:49:00+00:00,NaN,2022-03-31 05:13:00+00:00,2022-04-02 22:18:00+00:00,2
8,28239,19512,15553,14159,76146,Shipped,2023-10-29 08:08:40+00:00,2023-10-29 16:59:00+00:00,NaN,NaN,0.49,Shipped,F,2023-10-29 09:16:00+00:00,NaN,2023-10-29 16:59:00+00:00,NaN,1
9,69641,47894,38312,14159,187914,Shipped,2024-01-07 23:06:39+00:00,2024-01-10 19:32:00+00:00,NaN,NaN,0.49,Shipped,F,2024-01-08 01:26:00+00:00,NaN,2024-01-10 19:32:00+00:00,NaN,1
10,132745,91372,72876,14202,358368,Cancelled,2023-03-29 07:54:55+00:00,NaN,NaN,NaN,1.50,Cancelled,F,2023-03-29 11:21:00+00:00,NaN,NaN,NaN,2
11,166920,114977,91839,28700,450614,Cancelled,2020-07-02 15:08:04+00:00,NaN,NaN,NaN,1.50,Cancelled,M,2020-06-28 17:40:00+00:00,NaN,NaN,NaN,2
12,54884,37750,30232,28700,148082,Complete,2023-02-27 02:31:30+00:00,2023-03-01 14:39:00+00:00,2023-03-03 16:51:00+00:00,NaN,1.50,Complete,M,2023-02-27 03:17:00+00:00,NaN,2023-03-01 14:39:00+00:00,2023-03-03 16:51:00+00:00,1
13,97403,67023,53552,14202,262807,Complete,2022-10-04 11:51:58+00:00,2022-10-04 17:02:00+00:00,2022-10-05 15:03:00+00:00,NaN,1.50,Complete,F,2022-10-03 12:06:00+00:00,NaN,2022-10-04 17:02:00+00:00,2022-10-05 15:03:00+00:00,4
14,116568,80301,64053,28700,314574,Complete,2022-11-02 10:31:26+00:00,2022-11-02 11:21:00+00:00,2022-11-05 04:07:00+00:00,NaN,1.50,Complete,M,2022-10-31 13:17:00+00:00,NaN,2022-11-02 11:21:00+00:00,2022-11-05 04:07:00+00:00,4
15,3141,2165,1760,28700,8464,Processing,2024-01-07 06:45:55+00:00,NaN,NaN,NaN,1.50,Processing,M,2024-01-07 06:57:00+00:00,NaN,NaN,NaN,2
16,75920,52253,41873,14202,204851,Processing,2020-07-17 04:47:25+00:00,NaN,NaN,NaN,1.50,Processing,F,2020-07-17 08:09:00+00:00,NaN,NaN,NaN,1
17,80164,55159,44189,14202,216335,Processing,2023-01-18 11:47:18+00:00,NaN,NaN,NaN,1.50,Processing,F,2023-01-15 13:31:00+00:00,NaN,NaN,NaN,2
18,142854,98355,78482,28700,385646,Returned,2023-10-13 06:08:29+00:00,2023-10-14 02:38:00+00:00,2023-10-14 20:04:00+00:00,2023-10-17 00:08:00+00:00,1.50,Returned,M,2023-10-13 07:02:00+00:00,2023-10-17 00:08:00+00:00,2023-10-14 02:38:00+00:00,2023-10-14 20:04:00+00:00,3
19,28951,20008,15959,28700,78056,Shipped,2021-02-27 03:16:44+00:00,2021-02-25 19:08:00+00:00,NaN,NaN,1.50,Shipped,M,2021-02-23 04:35:00+00:00,NaN,2021-02-25 19:08:00+00:00,NaN,2

In [9]:
orders_products = pd.merge(orders_orderitems, products,
                           left_on = ['product_id'],
                           right_on = ['id'],
                           how = 'left',
                           suffixes=('_orderproducts', '_products'))
orders_products

,id_orderproducts,order_id,user_id,product_id,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,sale_price,status_order,gender,created_at_order,returned_at_order,shipped_at_order,delivered_at_order,num_of_item,id_products,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,0.02,Cancelled,F,2023-05-07 07:33:00+00:00,NaN,NaN,NaN,1,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1
1,40993,28204,22551,14235,110590,Complete,2023-03-14 03:47:21+00:00,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,NaN,0.02,Complete,F,2023-03-14 03:59:00+00:00,NaN,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,1,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1
2,51224,35223,28215,14235,138236,Complete,2023-12-05 13:25:30+00:00,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,NaN,0.02,Complete,F,2023-12-03 13:23:00+00:00,NaN,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,4,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1
3,36717,25278,20165,14235,99072,Shipped,2023-12-22 20:48:19+00:00,2023-12-24 16:44:00+00:00,NaN,NaN,0.02,Shipped,F,2023-12-23 00:17:00+00:00,NaN,2023-12-24 16:44:00+00:00,NaN,4,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1
4,131061,90241,71954,14235,353798,Shipped,2022-06-19 16:57:59+00:00,2022-06-19 19:29:00+00:00,NaN,NaN,0.02,Shipped,F,2022-06-17 17:21:00+00:00,NaN,2022-06-19 19:29:00+00:00,NaN,3,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181754,9674,6679,5325,24447,26095,Returned,2020-12-23 00:05:01+00:00,2020-12-25 22:54:00+00:00,2020-12-28 07:08:00+00:00,2020-12-30 22:43:00+00:00,999.00,Returned,M,2020-12-23 00:07:00+00:00,2020-12-30 22:43:00+00:00,2020-12-25 22:54:00+00:00,2020-12-28 07:08:00+00:00,1,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5
181755,7801,5416,4283,24447,21078,Shipped,2022-01-12 23:51:07+00:00,2022-01-10 03:42:00+00:00,NaN,NaN,999.00,Shipped,M,2022-01-10 03:11:00+00:00,NaN,2022-01-10 03:42:00+00:00,NaN,3,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5
181756,62986,43364,34691,23546,169937,Shipped,2023-02-26 00:38:43+00:00,2023-02-25 06:53:00+00:00,NaN,NaN,999.00,Shipped,M,2023-02-25 01:58:00+00:00,NaN,2023-02-25 06:53:00+00:00,NaN,3,23546,482.516999,Shorts,Alpha Industries Rip Stop Short,Alpha Industries,999.00,Men,C1AA157F9E8516370E3345F226EF62FC,5
181757,106577,73418,58623,24447,287560,Shipped,2023-11-12 02:41:02+00:00,2023-11-14 20:44:00+00:00,NaN,NaN,999.00,Shipped,M,2023-11-12 04:51:00+00:00,NaN,2023-11-14 20:44:00+00:00,NaN,1,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5
181758,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,999.00,Shipped,M,2022-03-13 11:21:00+00:00,NaN,2022-03-14 01:27:00+00:00,NaN,1,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5

In [10]:
all_order_data = pd.merge(orders_products, inventory_items,
                          left_on=['inventory_item_id'],
                          right_on=['id'],
                          how='left',
                          suffixes=('_all', '_items'))
all_order_data

,id_orderproducts,order_id,user_id,product_id_all,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,sale_price,status_order,gender,created_at_order,returned_at_order,shipped_at_order,delivered_at_order,num_of_item,id_products,cost_all,category,name,brand,retail_price,department,sku,distribution_center_id,id,product_id_items,created_at,sold_at,cost_items,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,0.02,Cancelled,F,2023-05-07 07:33:00+00:00,NaN,NaN,NaN,1,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,410368,14235,2021-09-09 06:17:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1
1,40993,28204,22551,14235,110590,Complete,2023-03-14 03:47:21+00:00,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,NaN,0.02,Complete,F,2023-03-14 03:59:00+00:00,NaN,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,1,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,110590,14235,2023-06-05 15:24:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1
2,51224,35223,28215,14235,138236,Complete,2023-12-05 13:25:30+00:00,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,NaN,0.02,Complete,F,2023-12-03 13:23:00+00:00,NaN,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,4,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,138236,14235,2020-04-12 14:36:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1
3,36717,25278,20165,14235,99072,Shipped,2023-12-22 20:48:19+00:00,2023-12-24 16:44:00+00:00,NaN,NaN,0.02,Shipped,F,2023-12-23 00:17:00+00:00,NaN,2023-12-24 16:44:00+00:00,NaN,4,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,99072,14235,2020-01-24 05:47:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1
4,131061,90241,71954,14235,353798,Shipped,2022-06-19 16:57:59+00:00,2022-06-19 19:29:00+00:00,NaN,NaN,0.02,Shipped,F,2022-06-17 17:21:00+00:00,NaN,2022-06-19 19:29:00+00:00,NaN,3,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,353798,14235,2022-09-13 16:58:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181754,9674,6679,5325,24447,26095,Returned,2020-12-23 00:05:01+00:00,2020-12-25 22:54:00+00:00,2020-12-28 07:08:00+00:00,2020-12-30 22:43:00+00:00,999.00,Returned,M,2020-12-23 00:07:00+00:00,2020-12-30 22:43:00+00:00,2020-12-25 22:54:00+00:00,2020-12-28 07:08:00+00:00,1,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,26095,24447,2021-10-07 09:37:00+00:00,NaN,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5
181755,7801,5416,4283,24447,21078,Shipped,2022-01-12 23:51:07+00:00,2022-01-10 03:42:00+00:00,NaN,NaN,999.00,Shipped,M,2022-01-10 03:11:00+00:00,NaN,2022-01-10 03:42:00+00:00,NaN,3,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,21078,24447,2023-09-16 00:38:00+00:00,NaN,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5
181756,62986,43364,34691,23546,169937,Shipped,2023-02-26 00:38:43+00:00,2023-02-25 06:53:00+00:00,NaN,NaN,999.00,Shipped,M,2023-02-25 01:58:00+00:00,NaN,2023-02-25 06:53:00+00:00,NaN,3,23546,482.516999,Shorts,Alpha Industries Rip Stop Short,Alpha Industries,999.00,Men,C1AA157F9E8516370E3345F226EF62FC,5,169937,23546,2021-11-03 11:45:00+00:00,NaN,482.516999,Shorts,Alpha Industries Rip Stop Short,Alpha Industries,999.00,Men,C1AA157F9E8516370E3345F226EF62FC,5
181757,106577,73418,58623,24447,287560,Shipped,2023-11-12 02:41:02+00:00,2023-11-14 20:44:00+00:00,NaN,NaN,999.00,Shipped,M,2023-11-12 04:51:00+00:00,NaN,2023-11-14 20:44:00+00:00,NaN,1,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,287560,24447,2022-11-04 09:27:00+00:00,NaN,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5
181758,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,999.00,Shipped,M,2022-03-13 11:21:00+00:00,NaN,2022-03-14 01:27:00+00:00,NaN,1,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,388091,24447,2022-11-03 01:28:00+00:00,NaN,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5

In [11]:
all_order_data = pd.merge(all_order_data, users,
                          left_on =['user_id'],
                          right_on=['id'],
                          how='left',
                          suffixes=('_orders', '_user'))
all_order_data

,id_orderproducts,order_id,user_id,product_id_all,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,sale_price,status_order,gender_orders,created_at_order,returned_at_order,shipped_at_order,delivered_at_order,num_of_item,id_products,cost_all,category,name,brand,retail_price,department,sku,distribution_center_id,id_orders,product_id_items,created_at_orders,sold_at,cost_items,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id,id_user,first_name,last_name,email,age,gender_user,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at_user
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,0.02,Cancelled,F,2023-05-07 07:33:00+00:00,NaN,NaN,NaN,1,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,410368,14235,2021-09-09 06:17:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,83582,Kathryn,Ortega,kathrynortega@example.net,29,F,Hebei,3863 Johnson Brooks Suite 474,74199,Jinhua,China,39.388173,115.731465,Search,2021-11-27 07:33:00+00:00
1,40993,28204,22551,14235,110590,Complete,2023-03-14 03:47:21+00:00,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,NaN,0.02,Complete,F,2023-03-14 03:59:00+00:00,NaN,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,1,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,110590,14235,2023-06-05 15:24:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,22551,Terri,Alvarez,terrialvarez@example.net,35,F,Jiangsu,5374 Courtney Parkway,215007,Yulin,China,31.278607,120.642997,Organic,2022-07-15 03:59:00+00:00
2,51224,35223,28215,14235,138236,Complete,2023-12-05 13:25:30+00:00,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,NaN,0.02,Complete,F,2023-12-03 13:23:00+00:00,NaN,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,4,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,138236,14235,2020-04-12 14:36:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,28215,Rebecca,Mcgee,rebeccamcgee@example.org,49,F,Texas,7187 Michael Forge Apt. 777,75604,Longview,United States,32.512434,-94.825486,Organic,2019-06-22 13:23:00+00:00
3,36717,25278,20165,14235,99072,Shipped,2023-12-22 20:48:19+00:00,2023-12-24 16:44:00+00:00,NaN,NaN,0.02,Shipped,F,2023-12-23 00:17:00+00:00,NaN,2023-12-24 16:44:00+00:00,NaN,4,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,99072,14235,2020-01-24 05:47:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,20165,Shelly,Rogers,shellyrogers@example.net,44,F,Hyogo,6970 Cherry Extension Apt. 442,675-0137,Kakogawa City,Japan,34.718505,134.825010,Search,2022-05-17 00:17:00+00:00
4,131061,90241,71954,14235,353798,Shipped,2022-06-19 16:57:59+00:00,2022-06-19 19:29:00+00:00,NaN,NaN,0.02,Shipped,F,2022-06-17 17:21:00+00:00,NaN,2022-06-19 19:29:00+00:00,NaN,3,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,353798,14235,2022-09-13 16:58:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,71954,Mariah,Stephens,mariahstephens@example.com,59,F,England,6522 Stephens Meadows Suite 475,LA1,Lancaster,United Kingdom,54.045973,-2.794106,Search,2021-06-23 17:21:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181754,9674,6679,5325,24447,26095,Returned,2020-12-23 00:05:01+00:00,2020-12-25 22:54:00+00:00,2020-12-28 07:08:00+00:00,2020-12-30 22:43:00+00:00,999.00,Returned,M,2020-12-23 00:07:00+00:00,2020-12-30 22:43:00+00:00,2020-12-25 22:54:00+00:00,2020-12-28 07:08:00+00:00,1,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,26095,24447,2021-10-07 09:37:00+00:00,NaN,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,5325,Joseph,Carpenter,josephcarpenter@example.org,23,M,Ningxia Hui Autonomous Region,110 Morris Walk Suite 190,750000,Shenzhen,China,38.507578,106.315768,Search,2020-01-16 00:07:00+00:00
181755,7801,5416,4283,24447,21078,Shipped,2022-01-12 23:51:07+00:00,2022-01-10 03:42:00+00:00,NaN,NaN,999.00,Shipped,M,2022-01-10 03:11:00+00:00,NaN,2022-01-10 03:42:00+00:00,NaN,3,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,21078,24447,2023-09-16 00:38:00+00:00,NaN,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,4283,Adam,Vasquez,adamvasquez@example.net,55,M,Seoul,77740 Linda Drive Apt. 783,156-090,Seoul,South Korea,37.485807,126.972360,Display,2019-12-10 03:11:00+00:00
181756,62986,43364,34691,23546,169937,Shipped,2023-02-26 00:38:43+00:00,2023-02-25 06:53:00+00:00,NaN,NaN,999.00,Shipped,M,2023-02-25 01:58:00+00:00,NaN,2023-02-25 06:53:00+00:00,NaN,3,23546,482.516999,Shorts,Alpha Industries Rip Stop Short,Alpha Industries,999.00,Men,C1AA157F9E8516370E3345F226EF62FC,5,169937,23546,2021-11-03 11:45:00+00:00,NaN,482.516999,Shorts,Alpha Industries Rip Stop Short,Alpha Industries,999.00,Men,C1AA157F9E8516370E3345F226EF62FC,5,34691,Kenneth,Ramirez,kennethramirez@example.org,58,M,Incheon Metropolitan City,0416 Poole Hills Apt. 782,406-120,Incheon Metropolitan City,South Korea,37.425050,126.666561,Search,2021-09-09 01:58:00+00:00
181757,106577,73418,58623,24447,287560,Shipped,2023-11-12 02:41:02+00:00,2023-11-14 20:44:00+00:00,NaN,NaN,999.00,Shipped,M,2023-11-12 04:51:00+00:00,NaN,2023-11-14 20:44:00+00:00,NaN,1,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,287560,24447,2022-11-04 09:27:00+00:00,NaN,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,58623,Jon,Medina,jonmedina@example.org,60,M,England,7854 Williams Flat Suite 409,SK4,Stockport,United Kingdom,53.419900,-2.183296,Facebook,2023-05-25 04:51:00+00:00
181758,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,999.00,Shipped,M,2022-03-13 11:21:00+00:00,NaN,2022-03-14 01:27:00+00:00,NaN,1,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,388091,24447,2022-11-03 01:28:00+00:00,NaN,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,78981,Joshua,Quinn,joshuaquinn@example.net,69,M,Paraná,108 Lewis Villages Suite 203,84600-000,NaN,Brasil,-26.111105,-51.075962,Search,2019-07-30 11:21:00+00:00

In [12]:
cancelled_orders = all_order_data[all_order_data['status_item'] == 'Cancelled'].copy()
returned_orders = all_order_data[all_order_data['status_item'] == 'Returned'].copy()
complete_orders = all_order_data[all_order_data['status_item'].isin(['Complete', 'Shipped'])].copy()

In [13]:
cancelled_orders

,id_orderproducts,order_id,user_id,product_id_all,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,sale_price,status_order,gender_orders,created_at_order,returned_at_order,shipped_at_order,delivered_at_order,num_of_item,id_products,cost_all,category,name,brand,retail_price,department,sku,distribution_center_id,id_orders,product_id_items,created_at_orders,sold_at,cost_items,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id,id_user,first_name,last_name,email,age,gender_user,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at_user
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,0.02,Cancelled,F,2023-05-07 07:33:00+00:00,NaN,NaN,NaN,1,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,410368,14235,2021-09-09 06:17:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,83582,Kathryn,Ortega,kathrynortega@example.net,29,F,Hebei,3863 Johnson Brooks Suite 474,74199,Jinhua,China,39.388173,115.731465,Search,2021-11-27 07:33:00+00:00
10,132745,91372,72876,14202,358368,Cancelled,2023-03-29 07:54:55+00:00,NaN,NaN,NaN,1.50,Cancelled,F,2023-03-29 11:21:00+00:00,NaN,NaN,NaN,2,14202,0.618000,Accessories,GENUINE LEATHER SNAP ON STUDDED WHITE PIANO BE...,H2W,1.50,Women,5A834EC7E9DC45A5FAE01DC7497E534F,4,358368,14202,2023-04-20 10:17:00+00:00,NaN,0.618000,Accessories,GENUINE LEATHER SNAP ON STUDDED WHITE PIANO BE...,H2W,1.50,Women,5A834EC7E9DC45A5FAE01DC7497E534F,4,72876,Amy,Sanchez,amysanchez@example.net,35,F,Minas Gerais,61384 Zachary Lodge Suite 626,35900,Itabira,Brasil,-19.632558,-43.218684,Display,2021-01-28 11:21:00+00:00
11,166920,114977,91839,28700,450614,Cancelled,2020-07-02 15:08:04+00:00,NaN,NaN,NaN,1.50,Cancelled,M,2020-06-28 17:40:00+00:00,NaN,NaN,NaN,2,28700,0.606000,Accessories,Wayfarer Style Sunglasses Dark Lens Black Frame,Wayfayrer,1.50,Men,851E8EAF4988ED55C3D335EA8D5ED61B,8,450614,28700,2023-04-27 07:45:00+00:00,NaN,0.606000,Accessories,Wayfarer Style Sunglasses Dark Lens Black Frame,Wayfayrer,1.50,Men,851E8EAF4988ED55C3D335EA8D5ED61B,8,91839,Steven,Blake,stevenblake@example.com,57,M,California,956 Joshua Spurs Suite 954,90037,Los Angeles,United States,34.003199,-118.287615,Search,2019-12-15 17:40:00+00:00
26,142090,97824,78066,14298,383592,Cancelled,2023-06-25 11:40:22+00:00,NaN,NaN,NaN,1.72,Cancelled,F,2023-06-25 13:14:00+00:00,NaN,NaN,NaN,1,14298,0.645000,Accessories,Classic Tear Drop Mirror Lens Aviator Sunglasses,Urban Boundaries Eyewear,1.72,Women,56DE534CF589F6D0CA09630DB803BA00,5,383592,14298,2023-07-26 00:28:00+00:00,NaN,0.645000,Accessories,Classic Tear Drop Mirror Lens Aviator Sunglasses,Urban Boundaries Eyewear,1.72,Women,56DE534CF589F6D0CA09630DB803BA00,5,78066,Charlene,Turner,charleneturner@example.org,64,F,Principado de Asturias,161 Perry Springs,33210,Gijón,Spain,43.523698,-5.669284,Search,2023-01-03 13:14:00+00:00
30,181002,124695,99579,12536,488701,Cancelled,2022-11-19 17:26:48+00:00,NaN,NaN,NaN,1.75,Cancelled,F,2022-11-17 18:37:00+00:00,NaN,NaN,NaN,3,12536,1.013250,Intimates,Individual Bra Extenders,Extenders,1.75,Women,359499F804EA7988921BF86C9377FB95,4,488701,12536,2020-11-21 17:41:00+00:00,NaN,1.013250,Intimates,Individual Bra Extenders,Extenders,1.75,Women,359499F804EA7988921BF86C9377FB95,4,99579,Rebecca,Martinez,rebeccamartinez@example.net,21,F,Henan,7874 Nancy Gardens Apt. 574,474150,Hangzhou,China,32.698418,112.071473,Search,2022-10-13 18:37:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181596,175393,120795,96412,2796,473512,Cancelled,2023-08-22 05:34:05+00:00,NaN,NaN,NaN,903.00,Cancelled,F,2023-08-22 06:20:00+00:00,NaN,NaN,NaN,1,2796,373.842002,Active,ASCIS Cushion Low Socks (Pack of 3),ASICS,903.00,Women,E27A949795BBE863F31C3B79A2686770,1,473512,2796,2022-05-19 15:01:00+00:00,NaN,373.842002,Active,ASCIS Cushion Low Socks (Pack of 3),ASICS,903.00,Women,E27A949795BBE863F31C3B79A2686770,1,96412,Kimberly,Powell,kimberlypowell@example.org,13,F,Alabama,958 Hammond Square,36330,Enterprise,United States,31.323028,-85.849419,Search,2020-10-30 06:20:00+00:00
181597,179437,123588,98685,24899,484445,Cancelled,2023-01-22 03:51:31+00:00,NaN,NaN,NaN,903.00,Cancelled,M,2023-01-22 06:50:00+00:00,NaN,NaN,NaN,2,24899,557.151002,Socks,Nike Jordan Retro 11 Bred Bootie Socks,Jordan,903.00,Men,5D147304859C2C8752CF5DEDB4B50D49,10,484445,24899,2023-07-02 17:21:00+00:00,NaN,557.151002,Socks,Nike Jordan Retro 11 Bred Bootie Socks,Jordan,903.00,Men,5D147304859C2C8752CF5DEDB4B50D49,10,98685,Robert,Tucker,roberttucker@example.net,64,M,Hebei,1499 Jason Villages Suite 504,56599,Baotou,China,36.382283,114.443431,Search,2021-03-05 06:50:00+00:00
181598,181679,125172,99952,22927,490485,Cancelled,2020-05-28 10:28:07+00:00,NaN,NaN,NaN,903.00,Cancelled,M,2020-05-26 10:35:00+00:00,NaN,NaN,NaN,2,22927,454.209000,Shorts,AIR JORDAN DOMINATE SHORTS MENS 465071-100,Jordan,903.00,Men,91980B0A3FD0E1B6DAB65D5AD3397876,10,490485,22927,2022-06-19 07:02:00+00:00,NaN,454.209000,Shorts,AIR JORDAN DOMINATE SHORTS MENS 465071-100,Jordan,903.00,Men,91980B0A3FD0E1B6DAB65D5AD3397876,10,99952,James,Bruce,jamesbruce@example.org,61,M,Zhejiang,070 Sarah Villages Suite 048,313399,Tonghua,China,30.636226,119.678039,Organic,2019-07-04 10:35:00+00:00
181747,114349,78780,62841,23546,308585,Cancelled,2019-05-07 09:45:03+00:00,NaN,NaN,NaN,999.00,Cancelled,M,2019-05-03 12:36:00+00:00,NaN,NaN,NaN,2,23546,482.516999,Shorts,Alpha Industries Rip Stop Short,Alpha Industries,999.00,Men,C1AA157F9E8516370E3345F226EF62FC,5,308585,23546,2022-09-12 02:19:00+00:00,NaN,482.516999,Shorts,Alpha Industries Rip Stop Short,Alpha Industries,999.00,Men,C1AA157F9E8516370E3345F226EF62FC,5,62841,Craig,Wood,craigwood@example.net,37,M,Comunidad de Madrid,0748 Joshua Crescent Apt. 108,28054,Madrid,Spain,40.366328,-3.752683,Search,2019-04-28 12:36:00+00:00
181748,149459,102920,82176,23546,403506,Cancelled,2021-06-10 13:51:21+00:00,NaN,NaN,NaN,999.00,Cancelled,M,2021-06-10 15:26:00+00:00,NaN,NaN,NaN,2,23546,482.516999,Shorts,Alpha Industries Rip Stop Short,Alpha Industries,999.00,Men,C1AA157F9E8516370E3345F226EF62FC,5,403506,23546,2024-01-16 10:36:00+00:00,NaN,482.516999,Shorts,Alpha Industries Rip Stop Short,Alpha Industries,999.00,Men,C1AA157F9E8516370E3345F226EF62FC,5,82176,Devin,Edwards,devinedwards@example.net,65,M,País Vasco,66778 Samuel Ranch,48600,Sopelana,Spain,43.377445,-2.978919,Search,2020-01-03 15:26:00+00:00

In [14]:
27090 / 181759

0.14904351366369753

In [15]:
cancelled_orders.category.value_counts()

category
Intimates                        2011
Jeans                            1943
Tops & Tees                      1788
Fashion Hoodies & Sweatshirts    1749
Swim                             1731
Sweaters                         1665
Shorts                           1650
Sleep & Lounge                   1576
Accessories                      1531
Active                           1341
Outerwear & Coats                1324
Underwear                        1100
Pants                            1071
Socks                             965
Dresses                           803
Suits & Sport Coats               769
Maternity                         759
Plus                              632
Socks & Hosiery                   578
Pants & Capris                    511
Blazers & Jackets                 488
Leggings                          471
Skirts                            312
Suits                             155
Jumpsuits & Rompers               133
Clothing Sets                      34
Name: count, dtype: int64

In [16]:
cancelled_orders.brand.value_counts()

brand
Allegra K                 937
Calvin Klein              470
Carhartt                  393
Volcom                    296
Quiksilver                286
                         ...
Blue Star Inc.              1
Guinea                      1
SpongeBob SquarePants       1
Fredricks of Hollywood      1
marshal                     1
Name: count, Length: 2310, dtype: int64

In [17]:
cancelled_orders.name.value_counts()

name
Puma Men's Socks                                                         11
Levi's Juniors' Demi Curve ID Skinny Jean                                10
Dickies Mens Relaxed Straight Fit Pant                                    8
Wrangler Men's Premium Performance Cowboy Cut Jean                        8
Hobo Hobo Lauren SU-51010GLD Wallet                                       7
                                                                         ..
Bjorn Borg Men's Cyber Check Pajama Pant                                  1
Majestic International Men's Pearces Flannel Lounge Pant                  1
RetroFit Men's Long Sleeve Striped Hoodie Pullover Sweater Black Blue     1
RetroFit Men's Long Sleeve Full Zip Striped Hoodie Sweater Red Black      1
Dockers Women's Slimming Trouser                                          1
Name: count, Length: 16961, dtype: int64

In [18]:
cancelled_orders['traffic_source'].value_counts()

traffic_source
Search      19140
Organic      4158
Facebook     1514
Email        1280
Display       998
Name: count, dtype: int64

In [19]:
all_order_data[all_order_data['user_id']==83582].sort_values('created_at_item')

,id_orderproducts,order_id,user_id,product_id_all,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,sale_price,status_order,gender_orders,created_at_order,returned_at_order,shipped_at_order,delivered_at_order,num_of_item,id_products,cost_all,category,name,brand,retail_price,department,sku,distribution_center_id,id_orders,product_id_items,created_at_orders,sold_at,cost_items,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id,id_user,first_name,last_name,email,age,gender_user,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at_user
50523,152014,104664,83582,6383,410371,Complete,2023-04-09 05:24:13+00:00,2023-04-10 05:28:00+00:00,2023-04-14 16:59:00+00:00,NaN,25.000000,Complete,F,2023-04-09 07:33:00+00:00,NaN,2023-04-10 05:28:00+00:00,2023-04-14 16:59:00+00:00,1,6383,13.075000,Shorts,Jolt Juniors 5 Inch Short,Jolt,25.000000,Women,800DE15C79C8D840F4E78D3AF937D4D4,3,410371,6383,2022-01-04 12:19:00+00:00,NaN,13.075000,Shorts,Jolt Juniors 5 Inch Short,Jolt,25.000000,Women,800DE15C79C8D840F4E78D3AF937D4D4,3,83582,Kathryn,Ortega,kathrynortega@example.net,29,F,Hebei,3863 Johnson Brooks Suite 474,74199,Jinhua,China,39.388173,115.731465,Search,2021-11-27 07:33:00+00:00
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,0.020000,Cancelled,F,2023-05-07 07:33:00+00:00,NaN,NaN,NaN,1,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.020000,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,410368,14235,2021-09-09 06:17:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.020000,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,83582,Kathryn,Ortega,kathrynortega@example.net,29,F,Hebei,3863 Johnson Brooks Suite 474,74199,Jinhua,China,39.388173,115.731465,Search,2021-11-27 07:33:00+00:00
158964,152012,104662,83582,2581,410366,Processing,2023-05-13 05:03:42+00:00,NaN,NaN,NaN,109.989998,Processing,F,2023-05-13 07:33:00+00:00,NaN,NaN,NaN,1,2581,51.035359,Active,Icebreaker Women's Oasis Long Sleeve Crewe Top,Icebreaker,109.989998,Women,309A8E73B2CDB95FC1AFFA8845504E87,1,410366,2581,2022-07-25 13:37:00+00:00,NaN,51.035359,Active,Icebreaker Women's Oasis Long Sleeve Crewe Top,Icebreaker,109.989998,Women,309A8E73B2CDB95FC1AFFA8845504E87,1,83582,Kathryn,Ortega,kathrynortega@example.net,29,F,Hebei,3863 Johnson Brooks Suite 474,74199,Jinhua,China,39.388173,115.731465,Search,2021-11-27 07:33:00+00:00
97754,152015,104665,83582,11619,410373,Complete,2023-10-20 04:39:09+00:00,2023-10-23 01:53:00+00:00,2023-10-23 18:05:00+00:00,NaN,44.000000,Complete,F,2023-10-20 07:33:00+00:00,NaN,2023-10-23 01:53:00+00:00,2023-10-23 18:05:00+00:00,1,11619,24.068000,Intimates,Only Hearts Second Skin Half Slip Nude,Only Hearts,44.000000,Women,91E1FEA50842570D5B4BD4BC2D23364B,1,410373,11619,2020-10-31 15:55:00+00:00,NaN,24.068000,Intimates,Only Hearts Second Skin Half Slip Nude,Only Hearts,44.000000,Women,91E1FEA50842570D5B4BD4BC2D23364B,1,83582,Kathryn,Ortega,kathrynortega@example.net,29,F,Hebei,3863 Johnson Brooks Suite 474,74199,Jinhua,China,39.388173,115.731465,Search,2021-11-27 07:33:00+00:00

In [20]:
events

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,2198523,NaN,3,83889ed2-2adc-4b9a-af5d-154f6998e778,2021-06-17 17:30:00+00:00,138.143.9.202,São Paulo,São Paulo,02675-031,Chrome,Adwords,/cancel,cancel
1,1773216,NaN,3,7a3fc3f2-e84f-44fe-8876-eff76741f7a3,2020-08-07 08:41:00+00:00,85.114.141.79,Santa Isabel,São Paulo,07500-000,Safari,Adwords,/cancel,cancel
2,2380515,NaN,3,13d9b2fb-eee1-43fd-965c-267b38dd7125,2021-02-15 18:48:00+00:00,169.250.255.132,Mairiporã,São Paulo,07600-000,IE,Adwords,/cancel,cancel
3,2250597,NaN,3,96f1d44e-9621-463c-954c-d8deb7fffe7f,2022-03-30 10:56:00+00:00,137.25.222.160,Cajamar,São Paulo,07750-000,Chrome,Adwords,/cancel,cancel
4,1834446,NaN,3,d09dce10-a7cb-47d3-a9af-44975566fa03,2019-09-05 01:18:00+00:00,161.114.4.174,São Paulo,São Paulo,09581-680,Chrome,Email,/cancel,cancel
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2431958,822590,62906.0,5,12ae51e7-76b3-4560-9335-3ea762eae60e,2022-04-07 01:55:02+00:00,52.92.60.25,St Helens,England,WA9,Firefox,Adwords,/purchase,purchase
2431959,43178,3333.0,5,e472549e-273e-402e-ae5f-38ece25699c2,2023-09-26 10:25:28+00:00,97.78.106.249,Orrell,England,WN5,IE,Email,/purchase,purchase
2431960,553230,42386.0,10,6a7ba027-2af2-46a3-ae05-294a264840cf,2023-07-31 15:11:10+00:00,147.252.137.75,Orrell,England,WN5,Chrome,Facebook,/purchase,purchase
2431961,1015190,77546.0,5,29e5960c-214b-456e-8c38-fe6eb8ff1ec8,2024-01-02 14:26:38+00:00,112.209.120.82,Wolverhampton,England,WV6,Chrome,Adwords,/purchase,purchase
2431962,844526,64551.0,13,9f633088-d2a8-4db2-8a5e-ebd946abce26,2022-09-15 09:55:32+00:00,190.227.140.196,York,England,YO10,Firefox,Email,/purchase,purchase

In [21]:
events.event_type.value_counts()

event_type
product       845607
cart          595994
department    595323
purchase      181759
cancel        125568
home           87712
Name: count, dtype: int64

In [22]:
events[events['user_id']==83582].sort_values('created_at')

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
1950243,1093109,83582.0,1,17710bad-b0be-4b4d-9a86-680b4ebada0e,2023-04-09 05:15:56+00:00,189.41.163.40,Jinhua,Hebei,74199,Firefox,YouTube,/home,home
1179479,1093110,83582.0,2,17710bad-b0be-4b4d-9a86-680b4ebada0e,2023-04-09 05:18:32+00:00,189.41.163.40,Jinhua,Hebei,74199,Firefox,YouTube,/department/women/category/shorts/brand/jolt,department
1932335,1093111,83582.0,3,17710bad-b0be-4b4d-9a86-680b4ebada0e,2023-04-09 05:19:26+00:00,189.41.163.40,Jinhua,Hebei,74199,Firefox,YouTube,/product/6383,product
1495599,1093112,83582.0,4,17710bad-b0be-4b4d-9a86-680b4ebada0e,2023-04-09 05:20:45+00:00,189.41.163.40,Jinhua,Hebei,74199,Firefox,YouTube,/cart,cart
844409,1093113,83582.0,5,17710bad-b0be-4b4d-9a86-680b4ebada0e,2023-04-09 05:23:27+00:00,189.41.163.40,Jinhua,Hebei,74199,Firefox,YouTube,/purchase,purchase
1851362,1093104,83582.0,1,bb7c47d2-78cd-4999-8462-289f6dc9ace4,2023-05-07 06:01:56+00:00,148.51.229.201,Jinhua,Hebei,74199,Chrome,Adwords,/home,home
1948158,1093105,83582.0,2,bb7c47d2-78cd-4999-8462-289f6dc9ace4,2023-05-07 06:02:56+00:00,148.51.229.201,Jinhua,Hebei,74199,Chrome,Adwords,/department/women/category/accessories/brand/m...,department
1212953,1093106,83582.0,3,bb7c47d2-78cd-4999-8462-289f6dc9ace4,2023-05-07 06:03:47+00:00,148.51.229.201,Jinhua,Hebei,74199,Chrome,Adwords,/product/14235,product
1793697,1093107,83582.0,4,bb7c47d2-78cd-4999-8462-289f6dc9ace4,2023-05-07 06:05:58+00:00,148.51.229.201,Jinhua,Hebei,74199,Chrome,Adwords,/cart,cart
819434,1093108,83582.0,5,bb7c47d2-78cd-4999-8462-289f6dc9ace4,2023-05-07 06:07:36+00:00,148.51.229.201,Jinhua,Hebei,74199,Chrome,Adwords,/purchase,purchase
286479,1093099,83582.0,1,a7760808-a283-49e8-b3c4-53929b9c37f9,2023-05-13 04:53:26+00:00,153.38.230.210,Jinhua,Hebei,74199,Chrome,Adwords,/home,home
2023024,1093100,83582.0,2,a7760808-a283-49e8-b3c4-53929b9c37f9,2023-05-13 04:56:03+00:00,153.38.230.210,Jinhua,Hebei,74199,Chrome,Adwords,/department/women/category/active/brand/icebre...,department
2007150,1093101,83582.0,3,a7760808-a283-49e8-b3c4-53929b9c37f9,2023-05-13 04:57:48+00:00,153.38.230.210,Jinhua,Hebei,74199,Chrome,Adwords,/product/2581,product
1570278,1093102,83582.0,4,a7760808-a283-49e8-b3c4-53929b9c37f9,2023-05-13 05:00:22+00:00,153.38.230.210,Jinhua,Hebei,74199,Chrome,Adwords,/cart,cart
271946,1093103,83582.0,5,a7760808-a283-49e8-b3c4-53929b9c37f9,2023-05-13 05:00:46+00:00,153.38.230.210,Jinhua,Hebei,74199,Chrome,Adwords,/purchase,purchase
2148507,1093114,83582.0,1,633e2a3f-17f2-4e5e-9a64-d6458f10e3dc,2023-10-20 04:34:04+00:00,112.61.115.125,Jinhua,Hebei,74199,Safari,Email,/home,home
2146523,1093115,83582.0,2,633e2a3f-17f2-4e5e-9a64-d6458f10e3dc,2023-10-20 04:35:01+00:00,112.61.115.125,Jinhua,Hebei,74199,Safari,Email,/department/women/category/intimates/brand/onl...,department
1560421,1093116,83582.0,3,633e2a3f-17f2-4e5e-9a64-d6458f10e3dc,2023-10-20 04:36:07+00:00,112.61.115.125,Jinhua,Hebei,74199,Safari,Email,/product/11619,product
974897,1093117,83582.0,4,633e2a3f-17f2-4e5e-9a64-d6458f10e3dc,2023-10-20 04:36:25+00:00,112.61.115.125,Jinhua,Hebei,74199,Safari,Email,/cart,cart
869399,1093118,83582.0,5,633e2a3f-17f2-4e5e-9a64-d6458f10e3dc,2023-10-20 04:37:10+00:00,112.61.115.125,Jinhua,Hebei,74199,Safari,Email,/purchase,purchase

In [23]:
events[events['event_type']=='cancel']

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,2198523,NaN,3,83889ed2-2adc-4b9a-af5d-154f6998e778,2021-06-17 17:30:00+00:00,138.143.9.202,São Paulo,São Paulo,02675-031,Chrome,Adwords,/cancel,cancel
1,1773216,NaN,3,7a3fc3f2-e84f-44fe-8876-eff76741f7a3,2020-08-07 08:41:00+00:00,85.114.141.79,Santa Isabel,São Paulo,07500-000,Safari,Adwords,/cancel,cancel
2,2380515,NaN,3,13d9b2fb-eee1-43fd-965c-267b38dd7125,2021-02-15 18:48:00+00:00,169.250.255.132,Mairiporã,São Paulo,07600-000,IE,Adwords,/cancel,cancel
3,2250597,NaN,3,96f1d44e-9621-463c-954c-d8deb7fffe7f,2022-03-30 10:56:00+00:00,137.25.222.160,Cajamar,São Paulo,07750-000,Chrome,Adwords,/cancel,cancel
4,1834446,NaN,3,d09dce10-a7cb-47d3-a9af-44975566fa03,2019-09-05 01:18:00+00:00,161.114.4.174,São Paulo,São Paulo,09581-680,Chrome,Email,/cancel,cancel
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2408414,2294135,NaN,3,803a4877-6fec-4464-882d-c0ef0a0e0802,2023-12-15 06:55:00+00:00,166.137.7.252,Runcorn,England,WA7,Safari,Adwords,/cancel,cancel
2408415,2219661,NaN,3,244b19b9-3570-4b0c-bd4d-ca923c157f7f,2020-10-04 17:23:00+00:00,96.30.193.225,Wakefield,England,WF2,Firefox,Email,/cancel,cancel
2408416,1521021,NaN,3,b1d4e0ed-685b-4365-8933-84817ad9730f,2023-03-17 11:18:00+00:00,113.98.116.93,Droitwich Spa,England,WR9,Safari,YouTube,/cancel,cancel
2408417,1628856,NaN,3,0ce673da-fad8-4f2e-b5e1-e9dc4b8c40a4,2021-12-25 17:57:00+00:00,41.128.250.236,Wednesbury,England,WS10,Chrome,Email,/cancel,cancel
2408418,2194520,NaN,3,70ba1963-7e05-4efb-81b8-4093d75c3178,2019-10-28 13:09:00+00:00,129.131.192.2,York,England,YO24,Chrome,Email,/cancel,cancel

In [24]:
events[events['session_id']=='83889ed2-2adc-4b9a-af5d-154f6998e778'].sort_values('created_at')

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
1380245,2198521,NaN,1,83889ed2-2adc-4b9a-af5d-154f6998e778,2021-06-17 17:10:00+00:00,138.143.9.202,São Paulo,São Paulo,02675-031,Chrome,Adwords,/product/16375,product
2259680,2198522,NaN,2,83889ed2-2adc-4b9a-af5d-154f6998e778,2021-06-17 17:24:00+00:00,138.143.9.202,São Paulo,São Paulo,02675-031,Chrome,Adwords,/cart,cart
0,2198523,NaN,3,83889ed2-2adc-4b9a-af5d-154f6998e778,2021-06-17 17:30:00+00:00,138.143.9.202,São Paulo,São Paulo,02675-031,Chrome,Adwords,/cancel,cancel

In [25]:
events[events['event_type']=='purchase']

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
23067,808414,61899.0,13,1daacb69-a4b6-4ef6-8686-bc62f86e87d5,2023-02-25 01:33:38+00:00,191.109.103.15,São Paulo,São Paulo,02220-000,Chrome,Facebook,/purchase,purchase
23068,984631,75239.0,10,43d77105-0da0-4381-b9da-edc7e7ae0045,2022-10-01 23:44:19+00:00,52.83.112.123,São Paulo,São Paulo,02675-031,Chrome,Email,/purchase,purchase
23069,121732,9453.0,7,aaee2565-3d4a-4b8c-8e46-94e3279aabc8,2023-08-22 08:12:02+00:00,220.118.43.166,São Paulo,São Paulo,02675-031,Chrome,Adwords,/purchase,purchase
23070,1071846,81970.0,10,d0f6607c-3f4f-476f-9153-81793c782ebd,2020-11-01 10:01:37+00:00,158.127.181.83,São Paulo,São Paulo,02675-031,Safari,Adwords,/purchase,purchase
23071,1144499,87587.0,13,5ce2b5d7-5c19-407e-bbf0-af2803d7295c,2021-06-19 14:36:46+00:00,7.61.124.107,São Paulo,São Paulo,02675-031,Other,Email,/purchase,purchase
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2431958,822590,62906.0,5,12ae51e7-76b3-4560-9335-3ea762eae60e,2022-04-07 01:55:02+00:00,52.92.60.25,St Helens,England,WA9,Firefox,Adwords,/purchase,purchase
2431959,43178,3333.0,5,e472549e-273e-402e-ae5f-38ece25699c2,2023-09-26 10:25:28+00:00,97.78.106.249,Orrell,England,WN5,IE,Email,/purchase,purchase
2431960,553230,42386.0,10,6a7ba027-2af2-46a3-ae05-294a264840cf,2023-07-31 15:11:10+00:00,147.252.137.75,Orrell,England,WN5,Chrome,Facebook,/purchase,purchase
2431961,1015190,77546.0,5,29e5960c-214b-456e-8c38-fe6eb8ff1ec8,2024-01-02 14:26:38+00:00,112.209.120.82,Wolverhampton,England,WV6,Chrome,Adwords,/purchase,purchase
2431962,844526,64551.0,13,9f633088-d2a8-4db2-8a5e-ebd946abce26,2022-09-15 09:55:32+00:00,190.227.140.196,York,England,YO10,Firefox,Email,/purchase,purchase

In [26]:
events[events['user_id']==61899.0].sort_values('created_at')

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
1298707,808415,61899.0,1,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:45:09+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/department/women/category/intimates/brand/cor...,department
709808,808416,61899.0,2,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:47:42+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/product/12069,product
2086295,808417,61899.0,3,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:49:32+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/cart,cart
1273949,808418,61899.0,4,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:49:34+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/department/women/category/intimates/brand/cor...,department
983142,808419,61899.0,5,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:50:04+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/product/12069,product
2383647,808420,61899.0,6,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:52:24+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/cart,cart
2018282,808421,61899.0,7,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:53:02+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/department/women/category/intimates/brand/cor...,department
2247885,808422,61899.0,8,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:54:09+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/product/12069,product
821109,808423,61899.0,9,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:56:55+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/cart,cart
454230,808424,61899.0,10,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:59:31+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/department/women/category/intimates/brand/cor...,department
1057760,808425,61899.0,11,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 22:01:08+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/product/12069,product
1292670,808426,61899.0,12,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 22:01:37+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/cart,cart
628476,808428,61899.0,1,6bde33f2-09c9-4367-a939-22f2c5d3136a,2023-02-21 22:50:38+00:00,203.196.169.155,São Paulo,São Paulo,02220-000,Chrome,Email,/department/women/category/active/brand/tri-mo...,department
1603434,808429,61899.0,2,6bde33f2-09c9-4367-a939-22f2c5d3136a,2023-02-21 22:50:50+00:00,203.196.169.155,São Paulo,São Paulo,02220-000,Chrome,Email,/product/2754,product
1441513,808430,61899.0,3,6bde33f2-09c9-4367-a939-22f2c5d3136a,2023-02-21 22:51:49+00:00,203.196.169.155,São Paulo,São Paulo,02220-000,Chrome,Email,/cart,cart
131360,808431,61899.0,4,6bde33f2-09c9-4367-a939-22f2c5d3136a,2023-02-21 22:52:45+00:00,203.196.169.155,São Paulo,São Paulo,02220-000,Chrome,Email,/department/women/category/active/brand/tri-mo...,department
809203,808432,61899.0,5,6bde33f2-09c9-4367-a939-22f2c5d3136a,2023-02-21 22:55:09+00:00,203.196.169.155,São Paulo,São Paulo,02220-000,Chrome,Email,/product/2754,product
1838374,808433,61899.0,6,6bde33f2-09c9-4367-a939-22f2c5d3136a,2023-02-21 22:58:04+00:00,203.196.169.155,São Paulo,São Paulo,02220-000,Chrome,Email,/cart,cart
454228,808434,61899.0,7,6bde33f2-09c9-4367-a939-22f2c5d3136a,2023-02-21 22:58:32+00:00,203.196.169.155,São Paulo,São Paulo,02220-000,Chrome,Email,/department/women/category/active/brand/tri-mo...,department
1528663,808435,61899.0,8,6bde33f2-09c9-4367-a939-22f2c5d3136a,2023-02-21 22:59:31+00:00,203.196.169.155,São Paulo,São Paulo,02220-000,Chrome,Email,/product/2754,product
2234780,808436,61899.0,9,6bde33f2-09c9-4367-a939-22f2c5d3136a,2023-02-21 23:02:00+00:00,203.196.169.155,São Paulo,São Paulo,02220-000,Chrome,Email,/cart,cart
727620,808437,61899.0,10,6bde33f2-09c9-4367-a939-22f2c5d3136a,2023-02-21 23:02:03+00:00,203.196.169.155,São Paulo,São Paulo,02220-000,Chrome,Email,/department/women/category/active/brand/tri-mo...,department
585436,808438,61899.0,11,6bde33f2-09c9-4367-a939-22f2c5d3136a,2023-02-21 23:02:37+00:00,203.196.169.155,São Paulo,São Paulo,02220-000,Chrome,Email,/product/2754,product
1788943,808439,61899.0,12,6bde33f2-09c9-4367-a939-22f2c5d3136a,2023-02-21 23:05:36+00:00,203.196.169.155,São Paulo,São Paulo,02220-000,Chrome,Email,/cart,cart
2340161,808441,61899.0,1,6b179b05-835f-4cbf-a220-5ffa6d9ada97,2023-02-22 00:09:01+00:00,14.200.19.206,São Paulo,São Paulo,02220-000,Chrome,Email,/department/women/category/maternity/brand/7fo...,department
1033005,808442,61899.0,2,6b179b05-835f-4cbf-a220-5ffa6d9ada97,2023-02-22 00:10:09+00:00,14.200.19.206,São Paulo,São Paulo,02220-000,Chrome,Email,/product/14700,product
298328,808443,61899.0,3,6b179b05-835f-4cbf-a220-5ffa6d9ada97,2023-02-22 00:10:34+00:00,14.200.19.206,São Paulo,São Paulo,02220-000,Chrome,Email,/cart,cart
926407,808444,61899.0,4,6b179b05-835f-4cbf-a220-5ffa6d9ada97,2023-02-22 00:10:39+00:00,14.200.19.206,São Paulo,São Paulo,02220-000,Chrome,Email,/department/women/category/maternity/brand/7fo...,department
2198403,808445,61899.0,5,6b179b05-835f-4cbf-a220-5ffa6d9ada97,2023-02-22 00:10:40+00:00,14.200.19.206,São Paulo,São Paulo,02220-000,Chrome,Email,/product/14700,product
2383648,808446,61899.0,6,6b179b05-835f-4cbf-a220-5ffa6d9ada97,2023-02-22 00:11:44+00:00,14.200.19.206,São Paulo,São Paulo,02220-000,Chrome,Email,/cart,cart
1472171,808447,61899.0,7,6b179b05-835f-4cbf-a220-5ffa6d9ada97,2023-02-22 00:12:01+00:00,14.200.19.206,São Paulo,São Paulo,02220-000,Chrome,Email,/department/women/category/maternity/brand/7fo...,department
2025200,808448,61899.0,8,6b179b05-835f-4cbf-a220-5ffa6d9ada97,2023-02-22 00:14:02+00:00,14.200.19.206,São Paulo,São Paulo,02220-000,Chrome,Email,/product/14700,product
1565337,808449,61899.0,9,6b179b05-835f-4cbf-a220-5ffa6d9ada97,2023-02-22 00:16:39+00:00,14.200.19.206,São Paulo,São Paulo,02220-000,Chrome,Email,/cart,cart
1472172,808450,61899.0,10,6b179b05-835f-4cbf-a220-5ffa6d9ada97,2023-02-22 00:18:37+00:00,14.200.19.206,São Paulo,São Paulo,02220-000,Chrome,Email,/department/women/category/maternity/brand/7fo...,department
2297517,808451,61899.0,11,6b179b05-835f-4cbf-a220-5ffa6d9ada97,2023-02-22 00:20:36+00:00,14.200.19.206,São Paulo,São Paulo,02220-000,Chrome,Email,/product/14700,product
2135745,808452,61899.0,12,6b179b05-835f-4cbf-a220-5ffa6d9ada97,2023-02-22 00:22:23+00:00,14.200.19.206,São Paulo,São Paulo,02220-000,Chrome,Email,/cart,cart
180935,808402,61899.0,1,1daacb69-a4b6-4ef6-8686-bc62f86e87d5,2023-02-22 01:20:40+00:00,191.109.103.15,São Paulo,São Paulo,02220-000,Chrome,Facebook,/department/women/category/intimates/brand/sex...,department
1380212,808403,61899.0,2,1daacb69-a4b6-4ef6-8686-bc62f86e87d5,2023-02-22 01:20:46+00:00,191.109.103.15,São Paulo,São Paulo,02220-000,Chrome,Facebook,/product/12495,product
920435,808404,61899.0,3,1daacb69-a4b6-4ef6-8686-bc62f86e87d5,2023-02-22 01:21:07+00:00,191.109.103.15,São Paulo,São Paulo,02220-000,Chrome,Facebook,/cart,cart
1323681,808405,61899.0,4,1daacb69-a4b6-4ef6-8686-bc62f86e87d5,2023-02-22 01:21:40+00:00,191.109.103.15,São Paulo,São Paulo,02220-000,Chrome,Facebook,/department/women/category/intimates/brand/sex...,department
2396690,808406,61899.0,5,1daacb69-a4b6-4ef6-8686-bc62f86e87d5,2023-02-22 01:22:25+00:00,191.109.103.15,São Paulo,São Paulo,02220-000,Chrome,Facebook,/product/12495,product
2309357,808407,61899.0,6,1daacb69-a4b6-4ef6-8686-bc62f86e87d5,2023-02-22 01:23:29+00:00,191.109.103.15,São Paulo,São Paulo,02220-000,Chrome,Facebook,/cart,cart
454229,808408,61899.0,7,1daacb69-a4b6-4ef6-8686-bc62f86e87d5,2023-02-22 01:24:47+00:00,191.109.103.15,São Paulo,São Paulo,02220-000,Chrome,Facebook,/department/women/category/intimates/brand/sex...,department
1603433,808409,61899.0,8,1daacb69-a4b6-4ef6-8686-bc62f86e87d5,2023-02-22 01:25:08+00:00,191.109.103.15,São Paulo,São Paulo,02220-000,Chrome,Facebook,/product/12495,product
1788944,808410,61899.0,9,1daacb69-a4b6-4ef6-8686-bc62f86e87d5,2023-02-22 01:27:12+00:00,191.109.103.15,São Paulo,São Paulo,02220-000,Chrome,Facebook,/cart,cart
354536,808411,61899.0,10,1daacb69-a4b6-4ef6-8686-bc62f86e87d5,2023-02-22 01:28:39+00:00,191.109.103.15,São Paulo,São Paulo,02220-000,Chrome,Facebook,/department/women/category/intimates/brand/sex...,department
14423,808412,61899.0,11,1daacb69-a4b6-4ef6-8686-bc62f86e87d5,2023-02-22 01:30:55+00:00,191.109.103.15,São Paulo,São Paulo,02220-000,Chrome,Facebook,/product/12495,product
1764160,808413,61899.0,12,1daacb69-a4b6-4ef6-8686-bc62f86e87d5,2023-02-22 01:32:36+00:00,191.109.103.15,São Paulo,São Paulo,02220-000,Chrome,Facebook,/cart,cart
2330875,808427,61899.0,13,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-23 22:04:23+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/purchase,purchase
345186,808440,61899.0,13,6bde33f2-09c9-4367-a939-22f2c5d3136a,2023-02-23 23:05:46+00:00,203.196.169.155,São Paulo,São Paulo,02220-000,Chrome,Email,/purchase,purchase
295129,808453,61899.0,13,6b179b05-835f-4cbf-a220-5ffa6d9ada97,2023-02-24 00:25:20+00:00,14.200.19.206,São Paulo,São Paulo,02220-000,Chrome,Email,/purchase,purchase
23067,808414,61899.0,13,1daacb69-a4b6-4ef6-8686-bc62f86e87d5,2023-02-25 01:33:38+00:00,191.109.103.15,São Paulo,São Paulo,02220-000,Chrome,Facebook,/purchase,purchase

In [27]:
events[events['session_id']=='d6e600ff-2356-4933-aeb5-f33f418b6f0f'].sort_values('created_at')

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
1298707,808415,61899.0,1,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:45:09+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/department/women/category/intimates/brand/cor...,department
709808,808416,61899.0,2,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:47:42+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/product/12069,product
2086295,808417,61899.0,3,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:49:32+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/cart,cart
1273949,808418,61899.0,4,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:49:34+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/department/women/category/intimates/brand/cor...,department
983142,808419,61899.0,5,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:50:04+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/product/12069,product
2383647,808420,61899.0,6,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:52:24+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/cart,cart
2018282,808421,61899.0,7,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:53:02+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/department/women/category/intimates/brand/cor...,department
2247885,808422,61899.0,8,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:54:09+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/product/12069,product
821109,808423,61899.0,9,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:56:55+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/cart,cart
454230,808424,61899.0,10,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 21:59:31+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/department/women/category/intimates/brand/cor...,department
1057760,808425,61899.0,11,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 22:01:08+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/product/12069,product
1292670,808426,61899.0,12,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-21 22:01:37+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/cart,cart
2330875,808427,61899.0,13,d6e600ff-2356-4933-aeb5-f33f418b6f0f,2023-02-23 22:04:23+00:00,47.246.11.140,São Paulo,São Paulo,02220-000,Chrome,Organic,/purchase,purchase

In [28]:
all_order_data.user_id.nunique()

80044

In [29]:
all_order_data.user_id.value_counts().sort_values(ascending=False)

user_id
32996    14
80952    13
80546    13
46712    12
19415    12
         ..
45675     1
40494     1
22280     1
2802      1
5325      1
Name: count, Length: 80044, dtype: int64

In [30]:
all_order_data[all_order_data['user_id']==80952].sort_values('product_id_all')

,id_orderproducts,order_id,user_id,product_id_all,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,sale_price,status_order,gender_orders,created_at_order,returned_at_order,shipped_at_order,delivered_at_order,num_of_item,id_products,cost_all,category,name,brand,retail_price,department,sku,distribution_center_id,id_orders,product_id_items,created_at_orders,sold_at,cost_items,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id,id_user,first_name,last_name,email,age,gender_user,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at_user
77947,147285,101417,80952,499,397626,Complete,2019-11-14 03:53:30+00:00,2019-11-13 02:41:00+00:00,2019-11-15 08:09:00+00:00,NaN,34.990002,Complete,F,2019-11-11 04:52:00+00:00,NaN,2019-11-13 02:41:00+00:00,2019-11-15 08:09:00+00:00,4,499,20.049271,Tops & Tees,Plus Size Layered Lace Top,eVogues Apparel,34.990002,Women,3CF166C6B73F030B4F67EEAEBA301103,5,397626,499,2020-07-04 14:48:00+00:00,NaN,20.049271,Tops & Tees,Plus Size Layered Lace Top,eVogues Apparel,34.990002,Women,3CF166C6B73F030B4F67EEAEBA301103,5,80952,Alexandra,White,alexandrawhite@example.com,59,F,Shanghai,62621 Kristi Canyon Apt. 113,200023,Wuhan,China,31.200443,121.480122,Search,2019-08-12 04:52:00+00:00
93339,147286,101417,80952,1635,397628,Complete,2019-11-12 03:31:46+00:00,2019-11-13 02:41:00+00:00,2019-11-15 08:09:00+00:00,NaN,40.799999,Complete,F,2019-11-11 04:52:00+00:00,NaN,2019-11-13 02:41:00+00:00,2019-11-15 08:09:00+00:00,4,1635,20.277600,Fashion Hoodies & Sweatshirts,Carve Designs Women's Zipper Line Hoodie,Carve Designs,40.799999,Women,42A3964579017F3CB42B26605B9AE8EF,6,397628,1635,2022-07-10 06:30:00+00:00,NaN,20.277600,Fashion Hoodies & Sweatshirts,Carve Designs Women's Zipper Line Hoodie,Carve Designs,40.799999,Women,42A3964579017F3CB42B26605B9AE8EF,6,80952,Alexandra,White,alexandrawhite@example.com,59,F,Shanghai,62621 Kristi Canyon Apt. 113,200023,Wuhan,China,31.200443,121.480122,Search,2019-08-12 04:52:00+00:00
31203,147276,101414,80952,2300,397597,Processing,2019-11-30 01:20:39+00:00,NaN,NaN,NaN,18.900000,Processing,F,2019-11-30 04:52:00+00:00,NaN,NaN,NaN,2,2300,7.994700,Fashion Hoodies & Sweatshirts,Juniors Fushia Spring Hoodie Zipper Jacket,FineBrandShop,18.900000,Women,46A558D97954D0692411C861CF78EF79,7,397597,2300,2023-01-06 00:52:00+00:00,NaN,7.994700,Fashion Hoodies & Sweatshirts,Juniors Fushia Spring Hoodie Zipper Jacket,FineBrandShop,18.900000,Women,46A558D97954D0692411C861CF78EF79,7,80952,Alexandra,White,alexandrawhite@example.com,59,F,Shanghai,62621 Kristi Canyon Apt. 113,200023,Wuhan,China,31.200443,121.480122,Search,2019-08-12 04:52:00+00:00
145765,147281,101416,80952,4910,397614,Cancelled,2021-12-14 03:08:21+00:00,NaN,NaN,NaN,82.000000,Cancelled,F,2021-12-10 04:52:00+00:00,NaN,NaN,NaN,4,4910,41.820000,Jeans,Silver Jeans Juniors Berkeley Straight Leg Jean,Silver Jeans,82.000000,Women,43975BC2DFC84641A2A8C4D3FE653176,1,397614,4910,2020-05-17 05:05:00+00:00,NaN,41.820000,Jeans,Silver Jeans Juniors Berkeley Straight Leg Jean,Silver Jeans,82.000000,Women,43975BC2DFC84641A2A8C4D3FE653176,1,80952,Alexandra,White,alexandrawhite@example.com,59,F,Shanghai,62621 Kristi Canyon Apt. 113,200023,Wuhan,China,31.200443,121.480122,Search,2019-08-12 04:52:00+00:00
121325,147282,101416,80952,5881,397617,Cancelled,2021-12-13 01:20:47+00:00,NaN,NaN,NaN,58.000000,Cancelled,F,2021-12-10 04:52:00+00:00,NaN,NaN,NaN,4,5881,36.656000,Leggings,MAXSTUDIO THE QUINTESSENTIAL LEGGINGS,MAXSTUDIO,58.000000,Women,6D378765F17A856B7BA8BF1541CAFB69,5,397617,5881,2023-10-08 00:47:00+00:00,NaN,36.656000,Leggings,MAXSTUDIO THE QUINTESSENTIAL LEGGINGS,MAXSTUDIO,58.000000,Women,6D378765F17A856B7BA8BF1541CAFB69,5,80952,Alexandra,White,alexandrawhite@example.com,59,F,Shanghai,62621 Kristi Canyon Apt. 113,200023,Wuhan,China,31.200443,121.480122,Search,2019-08-12 04:52:00+00:00
45962,147287,101417,80952,6141,397630,Complete,2019-11-15 04:30:49+00:00,2019-11-13 02:41:00+00:00,2019-11-15 08:09:00+00:00,NaN,24.950001,Complete,F,2019-11-11 04:52:00+00:00,NaN,2019-11-13 02:41:00+00:00,2019-11-15 08:09:00+00:00,4,6141,14.994950,Leggings,LeggingsQueen B.B Leggings,LeggingsQueen,24.950001,Women,13D2B7361A27DBC9960AE158598A6A96,4,397630,6141,2021-01-09 14:12:00+00:00,NaN,14.994950,Leggings,LeggingsQueen B.B Leggings,LeggingsQueen,24.950001,Women,13D2B7361A27DBC9960AE158598A6A96,4,80952,Alexandra,White,alexandrawhite@example.com,59,F,Shanghai,62621 Kristi Canyon Apt. 113,200023,Wuhan,China,31.200443,121.480122,Search,2019-08-12 04:52:00+00:00
98355,147279,101415,80952,6425,397607,Complete,2020-04-17 04:02:06+00:00,2020-04-16 22:52:00+00:00,2020-04-18 21:33:00+00:00,NaN,44.119999,Complete,F,2020-04-16 04:52:00+00:00,NaN,2020-04-16 22:52:00+00:00,2020-04-18 21:33:00+00:00,3,6425,21.530559,Shorts,Jones New York Plain Front Shorts,Jones New York,44.119999,Women,93963474EDFD08F1F1E7244F663B4708,3,397607,6425,2023-01-24 06:09:00+00:00,NaN,21.530559,Shorts,Jones New York Plain Front Shorts,Jones New York,44.119999,Women,93963474EDFD08F1F1E7244F663B4708,3,80952,Alexandra,White,alexandrawhite@example.com,59,F,Shanghai,62621 Kristi Canyon Apt. 113,200023,Wuhan,China,31.200443,121.480122,Search,2019-08-12 04:52:00+00:00
50492,147280,101415,80952,6577,397610,Complete,2020-04-20 04:49:34+00:00,2020-04-16 22:52:00+00:00,2020-04-18 21:33:00+00:00,NaN,25.000000,Complete,F,2020-04-16 04:52:00+00:00,NaN,2020-04-16 22:52:00+00:00,2020-04-18 21:33:00+00:00,3,6577,12.100000,Shorts,Ella moss Women's Aztec Print Short,Ella Moss,25.000000,Women,B613E70FD9F59310CF0A8D33DE3F2800,3,397610,6577,2021-08-14 00:43:00+00:00,NaN,12.100000,Shorts,Ella moss Women's Aztec Print Short,Ella Moss,25.000000,Women,B613E70FD9F59310CF0A8D33DE3F2800,3,80952,Alexandra,White,alexandrawhite@example.com,59,F,Shanghai,62621 Kristi Canyon Apt. 113,200023,Wuhan,China,31.200443,121.480122,Search,2019-08-12 04:52:00+00:00
13852,147278,101415,80952,8008,397603,Complete,2020-04-17 04:23:33+00:00,2020-04-16 22:52:00+00:00,2020-04-18 21:33:00+00:00,NaN,12.090000,Complete,F,2020-04-16 04:52:00+00:00,NaN,2020-04-16 22:52:00+00:00,2020-04-18 21:33:00+00:00,3,8008,4.146870,Blazers & Jackets,Allegra K Ladies Long Sleeve Front Opening Tur...,Allegra K,12.090000,Women,12F73080E04CE0D8E95DEFB577EBC3F4,9,397603,8008,2020-10-24 07:54:00+00:00,NaN,4.146870,Blazers & Jackets,Allegra K Ladies Long Sleeve Front Opening Tur...,Allegra K,12.090000,Women,12F73080E04CE0D8E95DEFB577EBC3F4,9,80952,Alexandra,White,alexandrawhite@example.com,59,F,Shanghai,62621 Kristi Canyon Apt. 113,200023,Wuhan,China,31.200443,121.480122,Search,2019-08-12 04:52:00+00:00
171463,147283,101416,80952,8161,397619,Cancelled,2021-12-14 03:08:40+00:00,NaN,NaN,NaN,166.000000,Cancelled,F,2021-12-10 04:52:00+00:00,NaN,NaN,NaN,4,8161,103.252000,Suits,ANNE KLEIN Velvet Golden Sapphire 2-PC Jacket/...,Anne Klein,166.000000,Women,64DAFB11E52EDD3CD840BF24E56DDCE6,2,397619,8161,2020-06-29 08:10:00+00:00,NaN,103.252000,Suits,ANNE KLEIN Velvet Golden Sapphire 2-PC Jacket/...,Anne Klein,166.000000,Women,64DAFB11E52EDD3CD840BF24E56DDCE6,2,80952,Alexandra,White,alexandrawhite@example.com,59,F,Shanghai,62621 Kristi Canyon Apt. 113,200023,Wuhan,China,31.200443,121.480122,Search,2019-08-12 04:52:00+00:00
48911,147284,101416,80952,9861,397622,Cancelled,2021-12-12 04:16:37+00:00,NaN,NaN,NaN,25.000000,Cancelled,F,2021-12-10 04:52:00+00:00,NaN,NaN,NaN,4,9861,16.025000,Sleep & Lounge,Nautica Sleepwear Women's Split Neck Tee,Nautica,25.000000,Women,5B9373FC169106C43C99CFAE04989986,8,397622,9861,2023-10-11 06:42:00+00:00,NaN,16.025000,Sleep & Lounge,Nautica Sleepwear Women's Split Neck Tee,Nautica,25.000000,Women,5B9373FC169106C43C99CFAE04989986,8,80952,Alexandra,White,alexandrawhite@example.com,59,F,Shanghai,62621 Kristi Canyon Apt. 113,200023,Wuhan,China,31.200443,121.480122,Search,2019-08-12 04:52:00+00:00
1660,147288,101417,80952,15472,397632,Complete,2019-11-14 01:55:45+00:00,2019-11-13 02:41:00+00:00,2019-11-15 08:09:00+00:00,NaN,6.410000,Complete,F,2019-11-11 04:52:00+00:00,NaN,2019-11-13 02:41:00+00:00,2019-11-15 08:09:00+00:00,4,15472,3.128080,Plus,True Wool Beret,Selini NY,6.410000,Women,53A738BEB939FDE01527390D0111A747,5,397632,15472,2023-04-10 02:27:00+00:00,NaN,3.128080,Plus,True Wool Beret,Selini NY,6.410000,Women,53A738BEB939FDE01527390D0111A747,5,80952,Alexandra,White,alexandrawhite@example.com,59,F,Shanghai,62621 Kristi Canyon Apt. 113,200023,Wuhan,China,31.200443,121.480122,Search,2019-08-12 04:52:00+00:00
15865,147277,101414,80952,15823,397600,Processing,2019-12-01 01:43:23+00:00,NaN,NaN,NaN,12.990000,Processing,F,2019-11-30 04:52:00+00:00,NaN,NaN,NaN,2,15823,6.884700,Plus,Modern Heritage Women's Chunky Pom Legwarmer,Modern Heritage,12.990000,Women,8C67C2AC63F3A3C9517E2E4C8C72798F,6,397600,15823,2021-10-23 12:25:00+00:00,NaN,6.884700,Plus,Modern Heritage Women's Chunky Pom Legwarmer,Modern Heritage,12.990000,Women,8C67C2AC63F3A3C9517E2E4C8C72798F,6,80952,Alexandra,White,alexandrawhite@example.com,59,F,Shanghai,62621 Kristi Canyon Apt. 113,200023,Wuhan,China,31.200443,121.480122,Search,2019-08-12 04:52:00+00:00

In [31]:
events[events['user_id']==32996].sort_values('created_at').tail(10)

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
861027,430502,32996.0,8,091aec30-d8f4-497a-b825-9f35dd1673da,2024-01-11 13:09:30+00:00,110.18.135.0,Hamburg,Hamburg,22587,Chrome,Facebook,/product/26515,product
200763,430503,32996.0,9,091aec30-d8f4-497a-b825-9f35dd1673da,2024-01-11 13:12:26+00:00,110.18.135.0,Hamburg,Hamburg,22587,Chrome,Facebook,/cart,cart
2019451,430504,32996.0,10,091aec30-d8f4-497a-b825-9f35dd1673da,2024-01-11 13:12:52+00:00,110.18.135.0,Hamburg,Hamburg,22587,Chrome,Facebook,/department/men/category/sleep&lounge/brand/ca...,department
388229,430505,32996.0,11,091aec30-d8f4-497a-b825-9f35dd1673da,2024-01-11 13:15:00+00:00,110.18.135.0,Hamburg,Hamburg,22587,Chrome,Facebook,/product/26515,product
1541682,430506,32996.0,12,091aec30-d8f4-497a-b825-9f35dd1673da,2024-01-11 13:16:56+00:00,110.18.135.0,Hamburg,Hamburg,22587,Chrome,Facebook,/cart,cart
97855,430557,32996.0,10,af9dd8dc-e7e2-4253-b1fe-80d044a2d3a4,2024-01-12 13:18:54+00:00,58.16.52.194,Hamburg,Hamburg,22587,Chrome,YouTube,/purchase,purchase
1066760,430547,32996.0,10,f974f422-78fa-4fbb-bc1b-886b9720410c,2024-01-13 12:54:30+00:00,144.236.17.125,Hamburg,Hamburg,22587,Safari,Facebook,/purchase,purchase
2133010,430481,32996.0,13,356236a5-55a6-4ed1-bd9e-ed1f6c8b2cf9,2024-01-14 10:24:15+00:00,43.6.210.125,Hamburg,Hamburg,22587,Chrome,Email,/purchase,purchase
2355985,430507,32996.0,13,091aec30-d8f4-497a-b825-9f35dd1673da,2024-01-14 13:18:56+00:00,110.18.135.0,Hamburg,Hamburg,22587,Chrome,Facebook,/purchase,purchase
1017157,430494,32996.0,13,3967fed9-f39c-4e76-ba74-0128aa771c36,2024-01-15 12:34:44+00:00,122.141.8.204,Hamburg,Hamburg,22587,Safari,YouTube,/purchase,purchase

In [32]:
all_order_data[all_order_data['product_id_all']==13844]

,id_orderproducts,order_id,user_id,product_id_all,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,sale_price,status_order,gender_orders,created_at_order,returned_at_order,shipped_at_order,delivered_at_order,num_of_item,id_products,cost_all,category,name,brand,retail_price,department,sku,distribution_center_id,id_orders,product_id_items,created_at_orders,sold_at,cost_items,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id,id_user,first_name,last_name,email,age,gender_user,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at_user
2171,39964,27520,22002,13844,107800,Complete,2024-01-13 23:58:59+00:00,2024-01-13 15:09:00+00:00,2024-01-18 03:02:00+00:00,NaN,6.99,Complete,F,2024-01-11 00:46:00+00:00,NaN,2024-01-13 15:09:00+00:00,2024-01-18 03:02:00+00:00,3,13844,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7,107800,13844,2021-04-28 18:16:00+00:00,NaN,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7,22002,Jennifer,Sharp,jennifersharp@example.net,44,F,Queensland,7974 Kenneth Drive,4311,Buaraba,Australia,-27.419159,152.427279,Search,2023-09-19 00:46:00+00:00
2272,90973,62598,50041,13844,245524,Processing,2020-12-17 23:40:05+00:00,NaN,NaN,NaN,6.99,Processing,F,2020-12-18 01:27:00+00:00,NaN,NaN,NaN,1,13844,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7,245524,13844,2023-01-21 06:48:00+00:00,NaN,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7,50041,Veronica,Orozco,veronicaorozco@example.net,45,F,Zhejiang,79395 Martinez Roads Apt. 545,322106,Handan,China,29.280839,120.187779,Display,2019-06-01 01:27:00+00:00
2344,25190,17428,13873,13844,67973,Shipped,2022-07-24 06:33:20+00:00,2022-07-27 05:24:00+00:00,NaN,NaN,6.99,Shipped,F,2022-07-24 09:25:00+00:00,NaN,2022-07-27 05:24:00+00:00,NaN,2,13844,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7,67973,13844,2023-06-04 02:53:00+00:00,NaN,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7,13873,Lauren,Kelley,laurenkelley@example.com,38,F,Oregon,579 Lewis Ville Suite 609,97132,Newberg,United States,45.323094,-122.991210,Search,2022-01-07 09:25:00+00:00
2345,27016,18686,14870,13844,72864,Shipped,2021-11-22 02:19:52+00:00,2021-11-20 06:26:00+00:00,NaN,NaN,6.99,Shipped,F,2021-11-18 04:04:00+00:00,NaN,2021-11-20 06:26:00+00:00,NaN,4,13844,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7,72864,13844,2021-08-07 16:33:00+00:00,NaN,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7,14870,Katherine,Miller,katherinemiller@example.org,36,F,Henan,1342 Stephanie Walk,450046,Jining,China,34.812157,113.783674,Search,2020-03-13 04:04:00+00:00
2349,37741,25990,20739,13844,101827,Shipped,2023-11-15 13:49:09+00:00,2023-11-17 03:28:00+00:00,NaN,NaN,6.99,Shipped,F,2023-11-15 13:59:00+00:00,NaN,2023-11-17 03:28:00+00:00,NaN,1,13844,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7,101827,13844,2023-10-10 08:15:00+00:00,NaN,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7,20739,Toni,Jennings,tonijennings@example.org,59,F,England,569 Petty Club,PE15,March,United Kingdom,52.523570,0.087416,Email,2022-12-11 13:59:00+00:00
2425,167162,115135,91964,13844,451282,Shipped,2020-03-16 02:54:15+00:00,2020-03-18 03:49:00+00:00,NaN,NaN,6.99,Shipped,F,2020-03-16 05:42:00+00:00,NaN,2020-03-18 03:49:00+00:00,NaN,1,13844,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7,451282,13844,2022-12-21 14:01:00+00:00,NaN,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7,91964,Amanda,Boyer,amandaboyer@example.org,31,F,Nordrhein-Westfalen,697 Joshua Flat Suite 733,32423,Minden,Germany,52.295125,8.950554,Organic,2019-07-22 05:42:00+00:00

In [33]:
all_order_data.status_item.value_counts()

status_item
Shipped       54440
Complete      45609
Processing    36388
Cancelled     27090
Returned      18232
Name: count, dtype: int64

In [34]:
all_order_data[all_order_data['status_item']=='Shipped']

,id_orderproducts,order_id,user_id,product_id_all,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,sale_price,status_order,gender_orders,created_at_order,returned_at_order,shipped_at_order,delivered_at_order,num_of_item,id_products,cost_all,category,name,brand,retail_price,department,sku,distribution_center_id,id_orders,product_id_items,created_at_orders,sold_at,cost_items,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id,id_user,first_name,last_name,email,age,gender_user,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at_user
3,36717,25278,20165,14235,99072,Shipped,2023-12-22 20:48:19+00:00,2023-12-24 16:44:00+00:00,NaN,NaN,0.02,Shipped,F,2023-12-23 00:17:00+00:00,NaN,2023-12-24 16:44:00+00:00,NaN,4,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,99072,14235,2020-01-24 05:47:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,20165,Shelly,Rogers,shellyrogers@example.net,44,F,Hyogo,6970 Cherry Extension Apt. 442,675-0137,Kakogawa City,Japan,34.718505,134.825010,Search,2022-05-17 00:17:00+00:00
4,131061,90241,71954,14235,353798,Shipped,2022-06-19 16:57:59+00:00,2022-06-19 19:29:00+00:00,NaN,NaN,0.02,Shipped,F,2022-06-17 17:21:00+00:00,NaN,2022-06-19 19:29:00+00:00,NaN,3,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,353798,14235,2022-09-13 16:58:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,71954,Mariah,Stephens,mariahstephens@example.com,59,F,England,6522 Stephens Meadows Suite 475,LA1,Lancaster,United Kingdom,54.045973,-2.794106,Search,2021-06-23 17:21:00+00:00
5,154022,106052,84693,14235,415780,Shipped,2023-09-19 09:13:08+00:00,2023-09-16 09:24:00+00:00,NaN,NaN,0.02,Shipped,F,2023-09-15 12:39:00+00:00,NaN,2023-09-16 09:24:00+00:00,NaN,2,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,415780,14235,2022-01-06 14:25:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,84693,Danielle,Bennett,daniellebennett@example.com,46,F,Maryland,4809 Michael Stream Apt. 104,20879,Montgomery Village,United States,39.170423,-77.175666,Search,2019-08-22 12:39:00+00:00
8,28239,19512,15553,14159,76146,Shipped,2023-10-29 08:08:40+00:00,2023-10-29 16:59:00+00:00,NaN,NaN,0.49,Shipped,F,2023-10-29 09:16:00+00:00,NaN,2023-10-29 16:59:00+00:00,NaN,1,14159,0.177380,Accessories,Set of 2 - Replacement Insert For Checkbook Wa...,Made in USA,0.49,Women,C92B32FBC94E2DFF3E5516401D9BB463,1,76146,14159,2021-10-11 09:10:00+00:00,NaN,0.177380,Accessories,Set of 2 - Replacement Insert For Checkbook Wa...,Made in USA,0.49,Women,C92B32FBC94E2DFF3E5516401D9BB463,1,15553,Phyllis,Cox,phylliscox@example.org,20,F,Shaanxi,4632 Chad Field Apt. 815,710306,Weifang,China,34.104507,108.607523,Search,2021-02-14 09:16:00+00:00
9,69641,47894,38312,14159,187914,Shipped,2024-01-07 23:06:39+00:00,2024-01-10 19:32:00+00:00,NaN,NaN,0.49,Shipped,F,2024-01-08 01:26:00+00:00,NaN,2024-01-10 19:32:00+00:00,NaN,1,14159,0.177380,Accessories,Set of 2 - Replacement Insert For Checkbook Wa...,Made in USA,0.49,Women,C92B32FBC94E2DFF3E5516401D9BB463,1,187914,14159,2023-04-17 03:08:00+00:00,NaN,0.177380,Accessories,Set of 2 - Replacement Insert For Checkbook Wa...,Made in USA,0.49,Women,C92B32FBC94E2DFF3E5516401D9BB463,1,38312,Stephanie,Garcia,stephaniegarcia@example.org,15,F,Bahia,55851 Henderson Knolls Apt. 574,40301-155,Salvador,Brasil,-12.973389,-38.491975,Search,2023-11-23 01:26:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181746,98068,67505,53923,24110,264571,Shipped,2023-07-14 05:15:30+00:00,2023-07-12 19:22:00+00:00,NaN,NaN,990.00,Shipped,M,2023-07-10 05:02:00+00:00,NaN,2023-07-12 19:22:00+00:00,NaN,4,24110,478.170003,Outerwear & Coats,Woolrich Arctic Parka DF,Woolrich,990.00,Men,A697AB0DCF803186970E7BB5ED0909FB,8,264571,24110,2021-12-29 12:28:00+00:00,NaN,478.170003,Outerwear & Coats,Woolrich Arctic Parka DF,Woolrich,990.00,Men,A697AB0DCF803186970E7BB5ED0909FB,8,53923,Scott,Williams,scottwilliams@example.net,67,M,Colorado,7339 Eric Lodge,80907,Colorado Springs,United States,38.879342,-104.824543,Search,2022-08-19 05:02:00+00:00
181755,7801,5416,4283,24447,21078,Shipped,2022-01-12 23:51:07+00:00,2022-01-10 03:42:00+00:00,NaN,NaN,999.00,Shipped,M,2022-01-10 03:11:00+00:00,NaN,2022-01-10 03:42:00+00:00,NaN,3,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,21078,24447,2023-09-16 00:38:00+00:00,NaN,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,4283,Adam,Vasquez,adamvasquez@example.net,55,M,Seoul,77740 Linda Drive Apt. 783,156-090,Seoul,South Korea,37.485807,126.972360,Display,2019-12-10 03:11:00+00:00
181756,62986,43364,34691,23546,169937,Shipped,2023-02-26 00:38:43+00:00,2023-02-25 06:53:00+00:00,NaN,NaN,999.00,Shipped,M,2023-02-25 01:58:00+00:00,NaN,2023-02-25 06:53:00+00:00,NaN,3,23546,482.516999,Shorts,Alpha Industries Rip Stop Short,Alpha Industries,999.00,Men,C1AA157F9E8516370E3345F226EF62FC,5,169937,23546,2021-11-03 11:45:00+00:00,NaN,482.516999,Shorts,Alpha Industries Rip Stop Short,Alpha Industries,999.00,Men,C1AA157F9E8516370E3345F226EF62FC,5,34691,Kenneth,Ramirez,kennethramirez@example.org,58,M,Incheon Metropolitan City,0416 Poole Hills Apt. 782,406-120,Incheon Metropolitan City,South Korea,37.425050,126.666561,Search,2021-09-09 01:58:00+00:00
181757,106577,73418,58623,24447,287560,Shipped,2023-11-12 02:41:02+00:00,2023-11-14 20:44:00+00:00,NaN,NaN,999.00,Shipped,M,2023-11-12 04:51:00+00:00,NaN,2023-11-14 20:44:00+00:00,NaN,1,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,287560,24447,2022-11-04 09:27:00+00:00,NaN,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,58623,Jon,Medina,jonmedina@example.org,60,M,England,7854 Williams Flat Suite 409,SK4,Stockport,United Kingdom,53.419900,-2.183296,Facebook,2023-05-25 04:51:00+00:00
181758,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,999.00,Shipped,M,2022-03-13 11:21:00+00:00,NaN,2022-03-14 01:27:00+00:00,NaN,1,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,388091,24447,2022-11-03 01:28:00+00:00,NaN,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,78981,Joshua,Quinn,joshuaquinn@example.net,69,M,Paraná,108 Lewis Villages Suite 203,84600-000,NaN,Brasil,-26.111105,-51.075962,Search,2019-07-30 11:21:00+00:00

In [35]:
all_order_data_ship = all_order_data[all_order_data['status_item']=='Shipped']
all_order_data_ship

,id_orderproducts,order_id,user_id,product_id_all,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,sale_price,status_order,gender_orders,created_at_order,returned_at_order,shipped_at_order,delivered_at_order,num_of_item,id_products,cost_all,category,name,brand,retail_price,department,sku,distribution_center_id,id_orders,product_id_items,created_at_orders,sold_at,cost_items,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id,id_user,first_name,last_name,email,age,gender_user,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at_user
3,36717,25278,20165,14235,99072,Shipped,2023-12-22 20:48:19+00:00,2023-12-24 16:44:00+00:00,NaN,NaN,0.02,Shipped,F,2023-12-23 00:17:00+00:00,NaN,2023-12-24 16:44:00+00:00,NaN,4,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,99072,14235,2020-01-24 05:47:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,20165,Shelly,Rogers,shellyrogers@example.net,44,F,Hyogo,6970 Cherry Extension Apt. 442,675-0137,Kakogawa City,Japan,34.718505,134.825010,Search,2022-05-17 00:17:00+00:00
4,131061,90241,71954,14235,353798,Shipped,2022-06-19 16:57:59+00:00,2022-06-19 19:29:00+00:00,NaN,NaN,0.02,Shipped,F,2022-06-17 17:21:00+00:00,NaN,2022-06-19 19:29:00+00:00,NaN,3,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,353798,14235,2022-09-13 16:58:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,71954,Mariah,Stephens,mariahstephens@example.com,59,F,England,6522 Stephens Meadows Suite 475,LA1,Lancaster,United Kingdom,54.045973,-2.794106,Search,2021-06-23 17:21:00+00:00
5,154022,106052,84693,14235,415780,Shipped,2023-09-19 09:13:08+00:00,2023-09-16 09:24:00+00:00,NaN,NaN,0.02,Shipped,F,2023-09-15 12:39:00+00:00,NaN,2023-09-16 09:24:00+00:00,NaN,2,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,415780,14235,2022-01-06 14:25:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.02,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,84693,Danielle,Bennett,daniellebennett@example.com,46,F,Maryland,4809 Michael Stream Apt. 104,20879,Montgomery Village,United States,39.170423,-77.175666,Search,2019-08-22 12:39:00+00:00
8,28239,19512,15553,14159,76146,Shipped,2023-10-29 08:08:40+00:00,2023-10-29 16:59:00+00:00,NaN,NaN,0.49,Shipped,F,2023-10-29 09:16:00+00:00,NaN,2023-10-29 16:59:00+00:00,NaN,1,14159,0.177380,Accessories,Set of 2 - Replacement Insert For Checkbook Wa...,Made in USA,0.49,Women,C92B32FBC94E2DFF3E5516401D9BB463,1,76146,14159,2021-10-11 09:10:00+00:00,NaN,0.177380,Accessories,Set of 2 - Replacement Insert For Checkbook Wa...,Made in USA,0.49,Women,C92B32FBC94E2DFF3E5516401D9BB463,1,15553,Phyllis,Cox,phylliscox@example.org,20,F,Shaanxi,4632 Chad Field Apt. 815,710306,Weifang,China,34.104507,108.607523,Search,2021-02-14 09:16:00+00:00
9,69641,47894,38312,14159,187914,Shipped,2024-01-07 23:06:39+00:00,2024-01-10 19:32:00+00:00,NaN,NaN,0.49,Shipped,F,2024-01-08 01:26:00+00:00,NaN,2024-01-10 19:32:00+00:00,NaN,1,14159,0.177380,Accessories,Set of 2 - Replacement Insert For Checkbook Wa...,Made in USA,0.49,Women,C92B32FBC94E2DFF3E5516401D9BB463,1,187914,14159,2023-04-17 03:08:00+00:00,NaN,0.177380,Accessories,Set of 2 - Replacement Insert For Checkbook Wa...,Made in USA,0.49,Women,C92B32FBC94E2DFF3E5516401D9BB463,1,38312,Stephanie,Garcia,stephaniegarcia@example.org,15,F,Bahia,55851 Henderson Knolls Apt. 574,40301-155,Salvador,Brasil,-12.973389,-38.491975,Search,2023-11-23 01:26:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181746,98068,67505,53923,24110,264571,Shipped,2023-07-14 05:15:30+00:00,2023-07-12 19:22:00+00:00,NaN,NaN,990.00,Shipped,M,2023-07-10 05:02:00+00:00,NaN,2023-07-12 19:22:00+00:00,NaN,4,24110,478.170003,Outerwear & Coats,Woolrich Arctic Parka DF,Woolrich,990.00,Men,A697AB0DCF803186970E7BB5ED0909FB,8,264571,24110,2021-12-29 12:28:00+00:00,NaN,478.170003,Outerwear & Coats,Woolrich Arctic Parka DF,Woolrich,990.00,Men,A697AB0DCF803186970E7BB5ED0909FB,8,53923,Scott,Williams,scottwilliams@example.net,67,M,Colorado,7339 Eric Lodge,80907,Colorado Springs,United States,38.879342,-104.824543,Search,2022-08-19 05:02:00+00:00
181755,7801,5416,4283,24447,21078,Shipped,2022-01-12 23:51:07+00:00,2022-01-10 03:42:00+00:00,NaN,NaN,999.00,Shipped,M,2022-01-10 03:11:00+00:00,NaN,2022-01-10 03:42:00+00:00,NaN,3,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,21078,24447,2023-09-16 00:38:00+00:00,NaN,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,4283,Adam,Vasquez,adamvasquez@example.net,55,M,Seoul,77740 Linda Drive Apt. 783,156-090,Seoul,South Korea,37.485807,126.972360,Display,2019-12-10 03:11:00+00:00
181756,62986,43364,34691,23546,169937,Shipped,2023-02-26 00:38:43+00:00,2023-02-25 06:53:00+00:00,NaN,NaN,999.00,Shipped,M,2023-02-25 01:58:00+00:00,NaN,2023-02-25 06:53:00+00:00,NaN,3,23546,482.516999,Shorts,Alpha Industries Rip Stop Short,Alpha Industries,999.00,Men,C1AA157F9E8516370E3345F226EF62FC,5,169937,23546,2021-11-03 11:45:00+00:00,NaN,482.516999,Shorts,Alpha Industries Rip Stop Short,Alpha Industries,999.00,Men,C1AA157F9E8516370E3345F226EF62FC,5,34691,Kenneth,Ramirez,kennethramirez@example.org,58,M,Incheon Metropolitan City,0416 Poole Hills Apt. 782,406-120,Incheon Metropolitan City,South Korea,37.425050,126.666561,Search,2021-09-09 01:58:00+00:00
181757,106577,73418,58623,24447,287560,Shipped,2023-11-12 02:41:02+00:00,2023-11-14 20:44:00+00:00,NaN,NaN,999.00,Shipped,M,2023-11-12 04:51:00+00:00,NaN,2023-11-14 20:44:00+00:00,NaN,1,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,287560,24447,2022-11-04 09:27:00+00:00,NaN,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,58623,Jon,Medina,jonmedina@example.org,60,M,England,7854 Williams Flat Suite 409,SK4,Stockport,United Kingdom,53.419900,-2.183296,Facebook,2023-05-25 04:51:00+00:00
181758,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,999.00,Shipped,M,2022-03-13 11:21:00+00:00,NaN,2022-03-14 01:27:00+00:00,NaN,1,24447,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,388091,24447,2022-11-03 01:28:00+00:00,NaN,404.595001,Outerwear & Coats,Darla,Alpha Industries,999.00,Men,1CE5E897CDA6AEB211DFFE8D514F4365,5,78981,Joshua,Quinn,joshuaquinn@example.net,69,M,Paraná,108 Lewis Villages Suite 203,84600-000,NaN,Brasil,-26.111105,-51.075962,Search,2019-07-30 11:21:00+00:00

In [36]:
all_order_data_ship.order_id.value_counts()

order_id
25278     4
53182     4
86523     4
30087     4
100519    4
         ..
12119     1
11808     1
11678     1
11206     1
98984     1
Name: count, Length: 37577, dtype: int64

In [37]:
all_order_data_ship.product_id_all.value_counts()

product_id_all
18795    10
23675     9
19871     9
24444     9
8344      9
         ..
27293     1
9868      1
26484     1
11387     1
23546     1
Name: count, Length: 24571, dtype: int64

In [38]:
all_order_data_ship.inventory_item_id.value_counts()

inventory_item_id
99072     1
26022     1
29167     1
36679     1
37010     1
         ..
216398    1
217106    1
218305    1
219838    1
388091    1
Name: count, Length: 54440, dtype: int64

In [39]:
all_order_data_ship.distribution_center_id.value_counts()

distribution_center_id
1     7212
2     7197
3     6792
8     5687
4     5211
9     5107
7     5033
6     4737
5     3928
10    3536
Name: count, dtype: int64

In [40]:
grouped_data = all_order_data_ship.groupby('product_id_all').agg({
    'order_id': list,
    'user_id': list,
    'inventory_item_id': list,
    'sku': list,
    'distribution_center_id': list
}).reset_index()

grouped_data.head(20)

,product_id_all,order_id,user_id,inventory_item_id,sku,distribution_center_id
0,1,"[112729, 114467]","[90059, 91438]","[441846, 448613]","[C4CA4238A0B923820DCC509A6F75849B, C4CA4238A0B...","[1, 1]"
1,4,[85518],[68181],[335305],[A87FF679A2F3E71D9181A67B7542122C],[6]
2,5,"[3436, 65919]","[2741, 52654]","[13454, 258639]","[E4DA3B7FBBCE2345D7772B0674A318D5, E4DA3B7FBBC...","[2, 2]"
3,6,"[57361, 90427]","[45926, 72087]","[224994, 354614]","[1679091C5A880FAF6FB5E6087EB1B2DC, 1679091C5A8...","[6, 6]"
4,7,[123138],[98326],[482672],[8F14E45FCEEA167A5A36DEDD4BEA2543],[5]
5,8,"[6390, 13558, 110293]","[5087, 10896, 88109]","[24932, 52888, 432266]","[C9F0F895FB98AB9159F51FD0297E236D, C9F0F895FB9...","[3, 3, 3]"
6,9,[52128],[41771],[204404],[45C48CCE2E2D7FBDEA1AFC51C7C6AD26],[2]
7,10,"[23006, 110724]","[18374, 88451]","[90027, 433959]","[D3D9446802A44259755D38E6D163E820, D3D9446802A...","[3, 3]"
8,12,"[102550, 120061]","[81896, 95835]","[402061, 470723]","[C20AD4D76FE97759AA27A0C99BFF6710, C20AD4D76FE...","[3, 3]"
9,15,"[76237, 96096, 118960]","[60831, 76688, 95007]","[298547, 376805, 466489]","[9BF31C7FF062936A96D3C8BD1F8F2FF3, 9BF31C7FF06...","[5, 5, 5]"
10,16,[60303],[48208],[236591],[C74D97B01EAE257E44AA9D5BADE97BAF],[5]
11,17,"[15005, 76032]","[12023, 60649]","[58531, 297767]","[70EFDF2EC9B086079795C442636B55FB, 70EFDF2EC9B...","[8, 8]"
12,18,"[79332, 91939]","[63265, 73318]","[310780, 360606]","[6F4922F45568161A8CDF4AD2299F6D23, 6F4922F4556...","[1, 1]"
13,19,[31218],[24999],[122362],[1F0E3DAD99908345F7439F8FFABDFFC4],[9]
14,22,"[18496, 23156, 115721]","[14713, 18484, 92435]","[72117, 90649, 453613]","[B6D767D2F8ED5D21A44B0E5886680CB9, B6D767D2F8E...","[3, 3, 3]"
15,23,[97842],[78078],[383658],[37693CFC748049E45D87B8C7D8B9AACD],[5]
16,24,[97805],[78054],[383531],[1FF1DE774005F8DA13F42943881C655F],[1]
17,25,[87008],[69339],[341016],[8E296A067A37563370DED05F5A3BF3EC],[5]
18,26,[47402],[37922],[186028],[4E732CED3463D06DE0CA9A15B6153677],[5]
19,27,"[92611, 92621]","[73879, 73885]","[363293, 363337]","[02E74F10E0327AD868D138F2B4FDD6F0, 02E74F10E03...","[10, 10]"

In [64]:
target_column = ['order_id', 'user_id', 'inventory_item_id', 'sku', 'distribution_center_id']
grouped_data['total_count'] = grouped_data.apply(lambda row: sum(len(sublist) for sublist in row[target_column]), axis=1)
grouped_data
# grouped_data['total_count'].max()

,product_id_all,order_id,user_id,inventory_item_id,sku,distribution_center_id,total_count
0,1,"[112729, 114467]","[90059, 91438]","[441846, 448613]","[C4CA4238A0B923820DCC509A6F75849B, C4CA4238A0B...","[1, 1]",10
1,4,[85518],[68181],[335305],[A87FF679A2F3E71D9181A67B7542122C],[6],5
2,5,"[3436, 65919]","[2741, 52654]","[13454, 258639]","[E4DA3B7FBBCE2345D7772B0674A318D5, E4DA3B7FBBC...","[2, 2]",10
3,6,"[57361, 90427]","[45926, 72087]","[224994, 354614]","[1679091C5A880FAF6FB5E6087EB1B2DC, 1679091C5A8...","[6, 6]",10
4,7,[123138],[98326],[482672],[8F14E45FCEEA167A5A36DEDD4BEA2543],[5],5
...,...,...,...,...,...,...,...
24566,29116,"[20718, 68467]","[16513, 54709]","[80767, 268403]","[8AC8ABB13B9FE96F24FE2CAB11A18FC2, 8AC8ABB13B9...","[2, 2]",10
24567,29117,[106542],[85114],[417672],[A92DF7CBFDDDCC938ABC806992026A19],[2],5
24568,29118,"[51205, 114688]","[41005, 91617]","[200743, 449516]","[857CD81E6A7D216EEAF1946A803A7D5E, 857CD81E6A7...","[10, 10]",10
24569,29119,"[2068, 12213, 68363]","[1682, 9794, 54622]","[8115, 47676, 267985]","[DC74D495021D5EB62F2A0DC42A47442B, DC74D495021...","[2, 2, 2]",15
24570,29120,"[4834, 30087, 67159, 99101, 114934]","[3824, 24048, 53656, 79079, 91806]","[18856, 117907, 263288, 388572, 450425]","[B0755C8792BB4F2FEB8E226F3D46876D, B0755C8792B...","[5, 5, 5, 5, 5]",25

In [41]:
grouped_data[grouped_data['product_id_all']==18795]

,product_id_all,order_id,user_id,inventory_item_id,sku,distribution_center_id
15530,18795,"[8706, 18171, 27021, 36802, 59058, 68895, 9034...","[6948, 14472, 21617, 29480, 47190, 55061, 7202...","[33869, 70827, 105841, 144442, 231657, 270020,...","[6B45CF467A9C88001159A826E92C7437, 6B45CF467A9...","[9, 9, 9, 9, 9, 9, 9, 9, 9, 9]"

In [42]:
order_ids = grouped_data[grouped_data['product_id_all'] == 18795]['inventory_item_id'].iloc[0]
number_of_orders = len(order_ids)
print("주문 개수:", number_of_orders)

주문 개수: 10

In [43]:
all_order_data[all_order_data['product_id_all']==18795]

,id_orderproducts,order_id,user_id,product_id_all,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,sale_price,status_order,gender_orders,created_at_order,returned_at_order,shipped_at_order,delivered_at_order,num_of_item,id_products,cost_all,category,name,brand,retail_price,department,sku,distribution_center_id,id_orders,product_id_items,created_at_orders,sold_at,cost_items,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id,id_user,first_name,last_name,email,age,gender_user,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at_user
67479,17935,12411,9970,18795,48423,Cancelled,2019-09-28 14:55:40+00:00,NaN,NaN,NaN,30.0,Cancelled,M,2019-09-26 15:05:00+00:00,NaN,NaN,NaN,2,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,48423,18795,2022-10-24 05:54:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,9970,Kenneth,Bates,kennethbates@example.net,65,M,Guizhou,45100 Jones Brook Apt. 574,562400,Foshan,China,25.108812,104.936952,Search,2019-05-21 15:05:00+00:00
67496,37683,25951,20712,18795,101671,Cancelled,2023-08-04 03:17:13+00:00,NaN,NaN,NaN,30.0,Cancelled,M,2023-08-04 03:37:00+00:00,NaN,NaN,NaN,1,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,101671,18795,2023-04-20 15:39:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,20712,Brandon,Valdez,brandonvaldez@example.net,60,M,Cataluña,02122 Fox Overpass,8272,La Pineda de Bages,Spain,41.755713,1.872391,Search,2022-02-02 03:37:00+00:00
67507,47849,32927,26369,18795,129096,Cancelled,2022-11-02 23:28:13+00:00,NaN,NaN,NaN,30.0,Cancelled,M,2022-10-30 03:04:00+00:00,NaN,NaN,NaN,2,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,129096,18795,2023-02-18 16:04:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,26369,Bruce,Munoz,brucemunoz@example.net,43,M,Henan,70460 Gomez Turnpike,450012,Benxi,China,34.770886,113.644270,Organic,2019-04-10 03:04:00+00:00
67756,66575,45812,36677,18795,179641,Complete,2021-03-12 10:20:40+00:00,2021-03-12 18:09:00+00:00,2021-03-17 00:58:00+00:00,NaN,30.0,Complete,M,2021-03-10 10:17:00+00:00,NaN,2021-03-12 18:09:00+00:00,2021-03-17 00:58:00+00:00,3,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,179641,18795,2023-08-31 14:23:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,36677,Kevin,Ramsey,kevinramsey@example.org,27,M,Pará,3476 Kathy Roads Apt. 854,66823-060,Belém,Brasil,-1.349335,-48.458705,Organic,2020-01-17 10:17:00+00:00
67795,88221,60693,48509,18795,238112,Complete,2023-01-26 06:23:03+00:00,2023-01-23 16:02:00+00:00,2023-01-24 11:50:00+00:00,NaN,30.0,Complete,M,2023-01-23 08:19:00+00:00,NaN,2023-01-23 16:02:00+00:00,2023-01-24 11:50:00+00:00,2,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,238112,18795,2020-09-23 05:11:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,48509,Hunter,Acosta,hunteracosta@example.net,23,M,Louisiana,184 Tammy Vista Apt. 376,70471,Mandeville,United States,30.411439,-90.052069,Display,2020-12-28 08:19:00+00:00
67796,89038,61253,48972,18795,240297,Complete,2024-01-01 17:07:33+00:00,2024-01-03 17:35:00+00:00,2024-01-08 03:35:00+00:00,NaN,30.0,Complete,M,2024-01-01 18:54:00+00:00,NaN,2024-01-03 17:35:00+00:00,2024-01-08 03:35:00+00:00,1,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,240297,18795,2020-02-10 16:51:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,48972,James,Mendez,jamesmendez@example.com,55,M,California,87745 Janet Bridge Apt. 200,94582,San Ramon,United States,37.763951,-121.909085,Organic,2019-05-28 18:54:00+00:00
67870,121527,83687,66749,18795,328015,Complete,2021-02-18 10:57:14+00:00,2021-02-19 00:52:00+00:00,2021-02-20 07:56:00+00:00,NaN,30.0,Complete,M,2021-02-18 11:06:00+00:00,NaN,2021-02-19 00:52:00+00:00,2021-02-20 07:56:00+00:00,1,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,328015,18795,2022-01-02 10:09:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,66749,Robert,Frye,robertfrye@example.net,65,M,Texas,50215 Scott Parkways Apt. 983,78572,Mission,United States,26.200814,-98.357760,Search,2019-06-05 11:06:00+00:00
67899,140467,96693,77165,18795,379187,Complete,2023-11-11 23:02:03+00:00,2023-11-12 20:07:00+00:00,2023-11-13 11:58:00+00:00,NaN,30.0,Complete,M,2023-11-12 01:17:00+00:00,NaN,2023-11-12 20:07:00+00:00,2023-11-13 11:58:00+00:00,1,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,379187,18795,2022-01-15 06:40:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,77165,Charles,Allen,charlesallen@example.com,14,M,Comunidad Valenciana,0763 Benjamin Crest,3183,Torrevieja,Spain,37.996641,-0.668644,Search,2021-12-28 01:17:00+00:00
68189,165520,114009,91050,18795,446821,Processing,2023-06-01 04:53:17+00:00,NaN,NaN,NaN,30.0,Processing,M,2023-06-01 05:24:00+00:00,NaN,NaN,NaN,1,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,446821,18795,2020-01-26 08:56:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,91050,Juan,Medina,juanmedina@example.com,22,M,Beijing,602 Denise Corner,100079,Zhongwei,China,39.853656,116.431192,Search,2023-01-17 05:24:00+00:00
68210,1789,1217,974,18795,4875,Returned,2022-11-18 18:01:07+00:00,2022-11-19 00:09:00+00:00,2022-11-23 01:47:00+00:00,2022-11-24 08:13:00+00:00,30.0,Returned,M,2022-11-18 18:52:00+00:00,2022-11-24 08:13:00+00:00,2022-11-19 00:09:00+00:00,2022-11-23 01:47:00+00:00,1,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,4875,18795,2023-06-07 10:44:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,974,Chad,Williams,chadwilliams@example.com,36,M,Andalucía,92403 Fernandez Summit,18600,Motril,Spain,36.747745,-3.482257,Search,2019-12-14 18:52:00+00:00
68217,9438,6513,5180,18795,25473,Returned,2021-02-24 16:19:47+00:00,2021-02-24 11:14:00+00:00,2021-02-28 04:22:00+00:00,2021-03-02 18:47:00+00:00,30.0,Returned,M,2021-02-21 17:02:00+00:00,2021-03-02 18:47:00+00:00,2021-02-24 11:14:00+00:00,2021-02-28 04:22:00+00:00,2,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,25473,18795,2022-11-28 12:23:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,5180,James,Moss,jamesmoss@example.org,64,M,Guangdong,9287 Morris Canyon Apt. 452,515141,Shaoyang,China,23.197698,116.376096,Search,2020-12-31 17:02:00+00:00
68349,12554,8706,6948,18795,33869,Shipped,2023-11-01 05:33:24+00:00,2023-11-03 08:48:00+00:00,NaN,NaN,30.0,Shipped,M,2023-11-01 08:17:00+00:00,NaN,2023-11-03 08:48:00+00:00,NaN,4,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,33869,18795,2020-10-21 12:40:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,6948,Scott,Robertson,scottrobertson@example.net,46,M,Rio de Janeiro,729 Kendra Alley,27600-000,Valença,Brasil,-22.234750,-43.858011,Facebook,2019-07-28 08:17:00+00:00
68366,26259,18171,14472,18795,70827,Shipped,2023-07-17 20:12:49+00:00,2023-07-15 10:12:00+00:00,NaN,NaN,30.0,Shipped,M,2023-07-15 00:05:00+00:00,NaN,2023-07-15 10:12:00+00:00,NaN,2,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,70827,18795,2022-04-30 02:41:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,14472,Harold,Brown,haroldbrown@example.com,26,M,Guangdong,66997 Miller Lodge Suite 064,528248,Shanghai,China,23.133470,113.175125,Search,2021-12-13 00:05:00+00:00
68404,39236,27021,21617,18795,105841,Shipped,2022-12-03 21:26:36+00:00,2022-12-06 06:40:00+00:00,NaN,NaN,30.0,Shipped,M,2022-12-04 00:12:00+00:00,NaN,2022-12-06 06:40:00+00:00,NaN,1,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,105841,18795,2023-11-29 16:31:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,21617,Michael,Rodriguez,michaelrodriguez@example.org,15,M,Tokyo,32820 Miles Burg,124-0021,Tokyo,Japan,35.741263,139.870951,Search,2021-09-22 00:12:00+00:00
68422,53537,36802,29480,18795,144442,Shipped,2023-10-25 09:43:41+00:00,2023-10-26 22:41:00+00:00,NaN,NaN,30.0,Shipped,M,2023-10-25 11:24:00+00:00,NaN,2023-10-26 22:41:00+00:00,NaN,1,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,144442,18795,2022-10-22 04:29:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,29480,David,Holt,davidholt@example.com,50,M,Xinjiang Uygur Autonomous Region,72342 Erica Station,831100,Anyang,China,43.998660,87.344622,Search,2022-08-25 11:24:00+00:00
68488,85844,59058,47190,18795,231657,Shipped,2023-10-15 04:58:57+00:00,2023-10-17 10:53:00+00:00,NaN,NaN,30.0,Shipped,M,2023-10-15 05:02:00+00:00,NaN,2023-10-17 10:53:00+00:00,NaN,1,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,231657,18795,2023-08-26 08:07:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,47190,Ray,Bentley,raybentley@example.net,48,M,Guangdong,5999 Morales Vista,518104,Shanghai,China,22.742217,113.806914,Search,2023-09-02 05:02:00+00:00
68518,100073,68895,55061,18795,270020,Shipped,2023-06-07 08:48:54+00:00,2023-06-08 20:56:00+00:00,NaN,NaN,30.0,Shipped,M,2023-06-07 11:58:00+00:00,NaN,2023-06-08 20:56:00+00:00,NaN,2,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,270020,18795,2021-02-16 03:17:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,55061,Jeffrey,Carter,jeffreycarter@example.org,54,M,England,5633 Smith Shore Suite 523,NG3,Nottingham,United Kingdom,52.973927,-1.119791,Search,2020-01-11 11:58:00+00:00
68573,131214,90341,72026,18795,354225,Shipped,2023-12-16 16:52:24+00:00,2023-12-15 02:53:00+00:00,NaN,NaN,30.0,Shipped,M,2023-12-14 17:26:00+00:00,NaN,2023-12-15 02:53:00+00:00,NaN,4,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,354225,18795,2021-07-01 15:52:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,72026,William,Sanford,williamsanford@example.org,27,M,Rio Grande do Norte,2144 Cheryl Inlet,59650-000,Assú,Brasil,-5.524862,-37.009684,Email,2021-11-25 17:26:00+00:00
68602,144993,99832,79701,18795,391447,Shipped,2023-07-23 06:25:09+00:00,2023-07-23 18:40:00+00:00,NaN,NaN,30.0,Shipped,M,2023-07-23 08:27:00+00:00,NaN,2023-07-23 18:40:00+00:00,NaN,1,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,391447,18795,2022-06-11 06:09:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,79701,Carl,Smith,carlsmith@example.net,51,M,Shanghai,511 Bradley Flats Apt. 693,200335,Dongguan,China,31.202719,121.354158,Search,2019-02-11 08:27:00+00:00
68638,157916,108727,86867,18795,426317,Shipped,2023-07-28 04:43:05+00:00,2023-07-29 01:35:00+00:00,NaN,NaN,30.0,Shipped,M,2023-07-28 08:32:00+00:00,NaN,2023-07-29 01:35:00+00:00,NaN,2,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,426317,18795,2021-04-28 02:52:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,86867,Jose,West,josewest@example.net,51,M,Indiana,258 Jefferson Brooks Suite 015,46235,Indianapolis,United States,39.840687,-85.973429,Search,2019-02-20 08:32:00+00:00
68659,169903,117022,93485,18795,458703,Shipped,2024-01-16 02:48:20+00:00,2024-01-15 10:31:00+00:00,NaN,NaN,30.0,Shipped,M,2024-01-15 06:24:00+00:00,NaN,2024-01-15 10:31:00+00:00,NaN,4,18795,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,458703,18795,2020-06-19 03:10:00+00:00,NaN,11.34,Active,Life is Good Men's King Of The Grill Short Sle...,Life Is Good,30.0,Men,6B45CF467A9C88001159A826E92C7437,9,93485,Seth,Smith,sethsmith@example.net,40,M,Comunidad de Madrid,0061 Goodwin Roads Suite 557,28016,Madrid,Spain,40.459376,-3.673333,Search,2024-01-14 06:24:00+00:00

In [44]:
all_order_data[all_order_data['user_id']==84693]

,id_orderproducts,order_id,user_id,product_id_all,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,sale_price,status_order,gender_orders,created_at_order,returned_at_order,shipped_at_order,delivered_at_order,num_of_item,id_products,cost_all,category,name,brand,retail_price,department,sku,distribution_center_id,id_orders,product_id_items,created_at_orders,sold_at,cost_items,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id,id_user,first_name,last_name,email,age,gender_user,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at_user
5,154022,106052,84693,14235,415780,Shipped,2023-09-19 09:13:08+00:00,2023-09-16 09:24:00+00:00,NaN,NaN,0.020000,Shipped,F,2023-09-15 12:39:00+00:00,NaN,2023-09-16 09:24:00+00:00,NaN,2,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.020000,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,415780,14235,2022-01-06 14:25:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.020000,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,84693,Danielle,Bennett,daniellebennett@example.com,46,F,Maryland,4809 Michael Stream Apt. 104,20879,Montgomery Village,United States,39.170423,-77.175666,Search,2019-08-22 12:39:00+00:00
101953,154023,106052,84693,8441,415782,Shipped,2023-09-17 10:07:41+00:00,2023-09-16 09:24:00+00:00,NaN,NaN,45.220001,Shipped,F,2023-09-15 12:39:00+00:00,NaN,2023-09-16 09:24:00+00:00,NaN,2,8441,19.489821,Outerwear & Coats,Levi's Women's Classic Traditional Trucker Jacket,Levi's,45.220001,Women,43A2348027CDB8D216F4FB15FD9E1E4F,4,415782,8441,2022-06-29 03:08:00+00:00,NaN,19.489821,Outerwear & Coats,Levi's Women's Classic Traditional Trucker Jacket,Levi's,45.220001,Women,43A2348027CDB8D216F4FB15FD9E1E4F,4,84693,Danielle,Bennett,daniellebennett@example.com,46,F,Maryland,4809 Michael Stream Apt. 104,20879,Montgomery Village,United States,39.170423,-77.175666,Search,2019-08-22 12:39:00+00:00

In [45]:
events[events['user_id']==84693].sort_values(by= 'created_at', ascending=True)

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
504838,1107440,84693.0,1,88517d8c-b46f-445b-98c5-63dd901c9db3,2023-09-15 09:01:25+00:00,110.253.189.255,Montgomery Village,Maryland,20879,Chrome,Adwords,/department/women/category/accessories/brand/m...,department
115130,1107441,84693.0,2,88517d8c-b46f-445b-98c5-63dd901c9db3,2023-09-15 09:04:22+00:00,110.253.189.255,Montgomery Village,Maryland,20879,Chrome,Adwords,/product/14235,product
2335084,1107442,84693.0,3,88517d8c-b46f-445b-98c5-63dd901c9db3,2023-09-15 09:04:31+00:00,110.253.189.255,Montgomery Village,Maryland,20879,Chrome,Adwords,/cart,cart
380371,1107443,84693.0,4,88517d8c-b46f-445b-98c5-63dd901c9db3,2023-09-15 09:07:13+00:00,110.253.189.255,Montgomery Village,Maryland,20879,Chrome,Adwords,/department/women/category/accessories/brand/m...,department
238398,1107444,84693.0,5,88517d8c-b46f-445b-98c5-63dd901c9db3,2023-09-15 09:09:26+00:00,110.253.189.255,Montgomery Village,Maryland,20879,Chrome,Adwords,/product/14235,product
126347,1107445,84693.0,6,88517d8c-b46f-445b-98c5-63dd901c9db3,2023-09-15 09:11:32+00:00,110.253.189.255,Montgomery Village,Maryland,20879,Chrome,Adwords,/cart,cart
380372,1107447,84693.0,1,9da9006e-7923-40d4-b327-05796e352012,2023-09-15 09:55:33+00:00,143.230.224.79,Montgomery Village,Maryland,20879,Chrome,Email,/department/women/category/outerwear&coats/bra...,department
1009539,1107448,84693.0,2,9da9006e-7923-40d4-b327-05796e352012,2023-09-15 09:58:10+00:00,143.230.224.79,Montgomery Village,Maryland,20879,Chrome,Email,/product/8441,product
1318672,1107449,84693.0,3,9da9006e-7923-40d4-b327-05796e352012,2023-09-15 10:00:42+00:00,143.230.224.79,Montgomery Village,Maryland,20879,Chrome,Email,/cart,cart
703791,1107450,84693.0,4,9da9006e-7923-40d4-b327-05796e352012,2023-09-15 10:03:20+00:00,143.230.224.79,Montgomery Village,Maryland,20879,Chrome,Email,/department/women/category/outerwear&coats/bra...,department
2299012,1107451,84693.0,5,9da9006e-7923-40d4-b327-05796e352012,2023-09-15 10:05:13+00:00,143.230.224.79,Montgomery Village,Maryland,20879,Chrome,Email,/product/8441,product
2161589,1107452,84693.0,6,9da9006e-7923-40d4-b327-05796e352012,2023-09-15 10:05:52+00:00,143.230.224.79,Montgomery Village,Maryland,20879,Chrome,Email,/cart,cart
2157704,1107453,84693.0,7,9da9006e-7923-40d4-b327-05796e352012,2023-09-17 10:07:41+00:00,143.230.224.79,Montgomery Village,Maryland,20879,Chrome,Email,/purchase,purchase
2108168,1107446,84693.0,7,88517d8c-b46f-445b-98c5-63dd901c9db3,2023-09-19 09:13:08+00:00,110.253.189.255,Montgomery Village,Maryland,20879,Chrome,Adwords,/purchase,purchase

In [46]:
all_order_data[all_order_data['shipped_at_item']=='2023-09-16 09:24:00+00:00']

,id_orderproducts,order_id,user_id,product_id_all,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,sale_price,status_order,gender_orders,created_at_order,returned_at_order,shipped_at_order,delivered_at_order,num_of_item,id_products,cost_all,category,name,brand,retail_price,department,sku,distribution_center_id,id_orders,product_id_items,created_at_orders,sold_at,cost_items,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id,id_user,first_name,last_name,email,age,gender_user,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at_user
5,154022,106052,84693,14235,415780,Shipped,2023-09-19 09:13:08+00:00,2023-09-16 09:24:00+00:00,NaN,NaN,0.020000,Shipped,F,2023-09-15 12:39:00+00:00,NaN,2023-09-16 09:24:00+00:00,NaN,2,14235,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.020000,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,415780,14235,2022-01-06 14:25:00+00:00,NaN,0.008300,Accessories,Indestructable Aluminum Aluma Wallet - RED,marshal,0.020000,Women,8425BC94A44E3D1BB3C8C026B2702C00,1,84693,Danielle,Bennett,daniellebennett@example.com,46,F,Maryland,4809 Michael Stream Apt. 104,20879,Montgomery Village,United States,39.170423,-77.175666,Search,2019-08-22 12:39:00+00:00
101953,154023,106052,84693,8441,415782,Shipped,2023-09-17 10:07:41+00:00,2023-09-16 09:24:00+00:00,NaN,NaN,45.220001,Shipped,F,2023-09-15 12:39:00+00:00,NaN,2023-09-16 09:24:00+00:00,NaN,2,8441,19.489821,Outerwear & Coats,Levi's Women's Classic Traditional Trucker Jacket,Levi's,45.220001,Women,43A2348027CDB8D216F4FB15FD9E1E4F,4,415782,8441,2022-06-29 03:08:00+00:00,NaN,19.489821,Outerwear & Coats,Levi's Women's Classic Traditional Trucker Jacket,Levi's,45.220001,Women,43A2348027CDB8D216F4FB15FD9E1E4F,4,84693,Danielle,Bennett,daniellebennett@example.com,46,F,Maryland,4809 Michael Stream Apt. 104,20879,Montgomery Village,United States,39.170423,-77.175666,Search,2019-08-22 12:39:00+00:00

In [47]:
all_order_data.country.value_counts()

country
China             62708
United States     40571
Brasil            26428
South Korea        9600
France             8593
United Kingdom     8281
Germany            7724
Spain              7200
Japan              4303
Australia          3783
Belgium            2066
Poland              473
Colombia             22
España                4
Austria               2
Deutschland           1
Name: count, dtype: int64

In [50]:
order_count_per_user = all_order_data.groupby('user_id')['order_id'].count().reset_index()
order_count_per_user['order_id']

0        3
1        1
2        5
3        1
4        3
        ..
80039    1
80040    4
80041    3
80042    2
80043    2
Name: order_id, Length: 80044, dtype: int64

In [74]:
from scipy.stats import chi2_contingency

crosstab = pd.crosstab(all_order_data_ship['order_id'], all_order_data_ship['status_item'])
chi2, p, dof, expected = chi2_contingency(crosstab)

print("Chi-square statistic:", chi2)  
print("p-value:", p)

# 관측값과 기대값이 완전히 일치.
# 두 변수간 아무런 관련성이 없고 독립적임

Chi-square statistic: 0.0
p-value: 1.0

In [69]:
crosstab_2 = pd.crosstab(all_order_data_ship['product_id_all'], all_order_data_ship['status_item'])
chi2, p, dof, expected = chi2_contingency(crosstab)

print("Chi-square statistic:", chi2)  
print("p-value:", p)

Chi-square statistic: 0.0
p-value: 1.0

In [76]:
sample = ['order_id', 'user_id', 'product_id_all','inventory_item_id','category', 'name', 'brand','distribution_center_id','state', 'street_address', 'postal_code',
       'city', 'country']

In [71]:
all_order_data.columns

Index(['id_orderproducts', 'order_id', 'user_id', 'product_id_all',
       'inventory_item_id', 'status_item', 'created_at_item',
       'shipped_at_item', 'delivered_at_item', 'returned_at_item',
       'sale_price', 'status_order', 'gender_orders', 'created_at_order',
       'returned_at_order', 'shipped_at_order', 'delivered_at_order',
       'num_of_item', 'id_products', 'cost_all', 'category', 'name', 'brand',
       'retail_price', 'department', 'sku', 'distribution_center_id',
       'id_orders', 'product_id_items', 'created_at_orders', 'sold_at',
       'cost_items', 'product_category', 'product_name', 'product_brand',
       'product_retail_price', 'product_department', 'product_sku',
       'product_distribution_center_id', 'id_user', 'first_name', 'last_name',
       'email', 'age', 'gender_user', 'state', 'street_address', 'postal_code',
       'city', 'country', 'latitude', 'longitude', 'traffic_source',
       'created_at_user'],
      dtype='object')

In [83]:
results = []
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

# # sample 리스트 값을 하나씩 돌면서 crosstab과 Chi-square 통계량, p-value 계산
# for col in sample:
#     crosstab = pd.crosstab(all_order_data_ship[col], all_order_data_ship['status_item'])
#     chi2, p, dof, expected = chi2_contingency(crosstab)
#     results.append((col, chi2, p))

# # 결과 출력
# for result in results:
#     print(f"Variable: {result[0]}")
#     print("Chi-square statistic:", result[1])  
#     print("p-value:", result[2])
#     print("\n")
# 결과 출력
for col in sample:
    # crosstab 생성
    crosstab = pd.crosstab(all_order_data[col], all_order_data['status_item'])
    # Chi-square 통계량, p-value 계산
    chi2, p, _, _ = chi2_contingency(crosstab)
    # 결과 출력
    print(f"Variable: {col}")
    print("Chi-square statistic:", chi2)  
    print("p-value:", p)
    print("\n")

Variable: order_id
Chi-square statistic: 727036.0000000002
p-value: 0.0


Variable: user_id
Chi-square statistic: 487708.2208843739
p-value: 0.0


Variable: product_id_all
Chi-square statistic: 115953.4241082976
p-value: 0.6804511399251776


Variable: inventory_item_id
Chi-square statistic: 727035.9999999999
p-value: 0.4984560853273851


Variable: category
Chi-square statistic: 78.89578120546672
p-value: 0.9411392234311627


Variable: name
Chi-square statistic: 108602.15516128652
p-value: 0.7651921046142066


Variable: brand
Chi-square statistic: 10770.854610026327
p-value: 0.9427535707513567


Variable: distribution_center_id
Chi-square statistic: 47.79759583704553
p-value: 0.09029635212364574


Variable: state
Chi-square statistic: 1760.0114853326127
p-value: 6.011411314131634e-57


Variable: street_address
Chi-square statistic: 487703.3383113086
p-value: 0.0


Variable: postal_code
Chi-square statistic: 103369.5215991503
p-value: 0.0


Variable: city
Chi-square statistic: 52484.76704722637
p-value: 0.0


Variable: country
Chi-square statistic: 128.36369974884423
p-value: 7.022583952230368e-07

In [82]:
# p-value가 1 미만인 결과만 필터링
 
significant_results = [(col, chi2, p) for col, chi2, p in zip(sample, chi2_values, p_value) if p < 1]

for col, chi2, p in significant_results:
    print(f"Variavle: {col}")
    print(f"Chi-square statistic: ", chi2)
    print(f"p-value: ", p)
    print("\n")

NameError: name 'chi2_values' is not defined

## 승현님 방식

In [89]:
#user에서 필요한 칼럼만 가져오기
user_temp = users.sort_values(by = 'id')[['id', 'country', 'state', 'city', 'street_address', 'latitude', 'longitude']]
     
whole_t = pd.DataFrame(all_order_data.groupby(['user_id', 'order_id'])['sale_price'].sum()).reset_index()  #중간에 집계값 안 구하면 order_id카운트가 중복되게 되어버림;;
#processing_t로 전체 order_id 수 볼 수 있음

whole_temp = whole_t.groupby('user_id')['order_id'].count().reset_index()

#whole인 user의 주소 정보 확인 테이블 만들기
whole_user_info = pd.merge(whole_temp, user_temp, left_on='user_id', right_on='id', how = 'left')


#country 부분만 한 번에 수정하면 집계 기준 바꿀 수 있음
whole_users_by_country = whole_user_info.groupby(['country'])['order_id'].sum().reset_index().rename(columns = {'order_id' : 'n_of_whole'})
whole_users_by_country

           country  n_of_whole
0        Australia        2630
1          Austria           2
2          Belgium        1441
3           Brasil       18262
4            China       42986
5         Colombia          19
6      Deutschland           1
7           España           4
8           France        5968
9          Germany        5286
10           Japan        2945
11          Poland         325
12     South Korea        6620
13           Spain        4965
14  United Kingdom        5673
15   United States       28099

In [53]:
all_order_data.status_item.value_counts()

status_item
Shipped       54440
Complete      45609
Processing    36388
Cancelled     27090
Returned      18232
Name: count, dtype: int64

In [88]:
#processing 이면 shipped_at도 delivered_at도 returned_at도 없음
#status가 processing인 것을 추출한 것을 기반, user별 order_id수 카운트하기
processing = all_order_data.query('status_item == "Processing"').reset_index()
processing_t = pd.DataFrame(processing.groupby(['user_id', 'order_id'])['sale_price'].sum()).reset_index()  #중간에 집계값 안 구하면 order_id카운트가 중복되게 되어버림;;
#processing_t로 전체 order_id 수 볼 수 있음

processing_temp = processing_t.groupby('user_id')['order_id'].count().reset_index()

#processing인 user의 주소 정보 확인 테이블 만들기
processing_user_info = pd.merge(processing_temp, user_temp, left_on='user_id', right_on='id', how = 'left')


#country 부분만 한 번에 수정하면 집계 기준 바꿀 수 있음
processing_users_by_country = processing_user_info.groupby(['country'])['order_id'].sum().reset_index().rename(columns = {'order_id' : 'n_of_processing'})
processing_users_by_country

           country  n_of_processing
0        Australia              551
1          Belgium              287
2           Brasil             3675
3            China             8535
4         Colombia                4
5           España                2
6           France             1162
7          Germany             1098
8            Japan              574
9           Poland               77
10     South Korea             1310
11           Spain             1050
12  United Kingdom             1153
13   United States             5678

In [87]:
#complete
#status가 complete인 것을 추출한 것을 기반, user별 order_id수 카운트하기
complete = all_order_data.query('status_item == "Complete"').reset_index()
complete_t = pd.DataFrame(complete.groupby(['user_id', 'order_id'])['sale_price'].sum()).reset_index()  #중간에 집계값 안 구하면 order_id카운트가 중복되게 되어버림;;

complete_temp = complete_t.groupby('user_id')['order_id'].count().reset_index()


#complete인 user의 주소 정보 확인 테이블 만들기
complete_user_info = pd.merge(complete_temp, user_temp, left_on='user_id', right_on='id', how = 'left')

#country 부분만 한 번에 수정하면 집계 기준 바꿀 수 있음
complete_users_by_country = complete_user_info.groupby(['country'])['order_id'].sum().reset_index().rename(columns = {'order_id' : 'n_of_complete'})
complete_users_by_country

           country  n_of_complete
0        Australia            663
1          Austria              1
2          Belgium            349
3           Brasil           4612
4            China          10713
5         Colombia              6
6      Deutschland              1
7           España              1
8           France           1460
9          Germany           1319
10           Japan            763
11          Poland             78
12     South Korea           1658
13           Spain           1218
14  United Kingdom           1410
15   United States           7102

In [84]:
#shipped
#status가 shipped인 것을 추출한 것을 기반, user별 order_id수 카운트하기
shipped = all_order_data.query('status_item == "Shipped"').reset_index()
shipped_t = pd.DataFrame(shipped.groupby(['user_id', 'order_id'])['sale_price'].sum()).reset_index()  #중간에 집계값 안 구하면 order_id카운트가 중복되게 되어버림;;

shipped_temp = shipped_t.groupby('user_id')['order_id'].count().reset_index()


#complete인 user의 주소 정보 확인 테이블 만들기
shipped_user_info = pd.merge(shipped_temp, user_temp, left_on='user_id', right_on='id', how = 'left')

#country 부분만 한 번에 수정하면 집계 기준 바꿀 수 있음
shipped_users_by_country = shipped_user_info.groupby(['country'])['order_id'].sum().reset_index().rename(columns = {'order_id' : 'n_of_shipped'})
shipped_users_by_country

           country  n_of_shipped
0        Australia           762
1          Austria             1
2          Belgium           472
3           Brasil          5360
4            China         12905
5         Colombia             4
6           France          1841
7          Germany          1601
8            Japan           885
9           Poland            91
10     South Korea          2033
11           Spain          1467
12  United Kingdom          1704
13   United States          8451

In [85]:
#returned
#status가 returned인 것을 추출한 것을 기반, user별 order_id수 카운트하기
returned = all_order_data.query('status_item == "Returned"').reset_index()
returned_t = pd.DataFrame(returned.groupby(['user_id', 'order_id'])['sale_price'].sum()).reset_index()  #중간에 집계값 안 구하면 order_id카운트가 중복되게 되어버림;;

returned_temp = returned_t.groupby('user_id')['order_id'].count().reset_index()


#complete인 user의 주소 정보 확인 테이블 만들기
returned_user_info = pd.merge(returned_temp, user_temp, left_on='user_id', right_on='id', how = 'left')

#country 부분만 한 번에 수정하면 집계 기준 바꿀 수 있음
returned_users_by_country = returned_user_info.groupby(['country'])['order_id'].sum().reset_index().rename(columns = {'order_id' : 'n_of_returned'})
returned_users_by_country

           country  n_of_returned
0        Australia            272
1          Belgium            146
2           Brasil           1831
3            China           4313
4         Colombia              2
5           España              1
6           France            614
7          Germany            487
8            Japan            309
9           Poland             35
10     South Korea            689
11           Spain            497
12  United Kingdom            574
13   United States           2760

In [86]:
#Cancelled
#status가 cancelled인 것을 추출한 것을 기반, user별 order_id수 카운트하기
cancelled = all_order_data.query('status_item == "Cancelled"').reset_index()
cancelled_t = pd.DataFrame(cancelled.groupby(['user_id', 'order_id'])['sale_price'].sum()).reset_index()  #중간에 집계값 안 구하면 order_id카운트가 중복되게 되어버림;;

cancelled_temp = cancelled_t.groupby('user_id')['order_id'].count().reset_index()


#complete인 user의 주소 정보 확인 테이블 만들기
cancelled_user_info = pd.merge(cancelled_temp, user_temp, left_on='user_id', right_on='id', how = 'left')

#country 부분만 한 번에 수정하면 집계 기준 바꿀 수 있음
cancelled_users_by_country = cancelled_user_info.groupby(['country'])['order_id'].sum().reset_index().rename(columns = {'order_id' : 'n_of_cancelled'})
cancelled_users_by_country

           country  n_of_cancelled
0        Australia             382
1          Belgium             187
2           Brasil            2784
3            China            6520
4         Colombia               3
5           France             891
6          Germany             781
7            Japan             414
8           Poland              44
9      South Korea             930
10           Spain             733
11  United Kingdom             832
12   United States            4108

In [90]:
#각 국가별로 status 비중이 어떻게 되는지 파악
#본 셀 아래에 있는 셀들부터 실행할 것!!!

dfs = [whole_users_by_country, complete_users_by_country, processing_users_by_country, shipped_users_by_country, returned_users_by_country, cancelled_users_by_country]

#한번에 여러 테이블 병합하기
merged_df = dfs[0]   #첫번째 테이블(whole_users_by_country) 기준, 그 다음 테이블부터 순차적으로 병합
for df in dfs[1:]:
  merged_df = pd.merge(merged_df, df, on = 'country')


#전체 대비 비중 구하기
#문자열인 country 칼럼 일단 제외
country_column = merged_df['country']
#country칼럼 제외한 나머지 칼럼들을 whole로 나눠주고 100곱해서 비중 구하기. 마지막에 소수 둘째자리에서 반올림
merged_df = (merged_df.iloc[:, 1:].div(merged_df['n_of_whole'], axis= 0)*100).round(2)
#insert함수로 첫번째 칼럼(0)으로 삽입. 이름도 다시 country
merged_df.insert(0, 'country', country_column)
merged_df

,country,n_of_whole,n_of_complete,n_of_processing,n_of_shipped,n_of_returned,n_of_cancelled
0,Australia,100.0,25.21,20.95,28.97,10.34,14.52
1,Belgium,100.0,24.22,19.92,32.76,10.13,12.98
2,Brasil,100.0,25.25,20.12,29.35,10.03,15.24
3,China,100.0,24.92,19.86,30.02,10.03,15.17
4,Colombia,100.0,31.58,21.05,21.05,10.53,15.79
5,France,100.0,24.46,19.47,30.85,10.29,14.93
6,Germany,100.0,24.95,20.77,30.29,9.21,14.77
7,Japan,100.0,25.91,19.49,30.05,10.49,14.06
8,Poland,100.0,24.00,23.69,28.00,10.77,13.54
9,South Korea,100.0,25.05,19.79,30.71,10.41,14.05
10,Spain,100.0,24.53,21.15,29.55,10.01,14.76
11,United Kingdom,100.0,24.85,20.32,30.04,10.12,14.67
12,United States,100.0,25.27,20.21,30.08,9.82,14.62

KeyboardInterrupt: